<section>
    <div *ngIf="isDavspaceVisible" class="davspace">
        <div class="davspace-menu">
            <div class="davspace-picture">
                <img src="assets/Workspace.svg" alt="">
                <h1>Devspace</h1>
            </div>
            <div class="icon" [routerLink]="['new-message']"
                (mouseover)="imgEdit = 'assets/edit_square-blue.svg'"
                (mouseleave)="imgEdit = 'assets/edit_square.svg'"
                (mousedown)="imgEdit = 'assets/edit_square-click.svg' "
                >
                <img [src]="imgEdit" alt="">
            </div>
        </div>
        <div class="channels">
            <div class="channel-group" (click)="closeChannels()"
            (mouseover)="imgDropDown ='assets/arrow_drop_down-blue.svg'"
            (mouseover)="imgDropDownRight ='assets/arrow_drop_down-right-blue.svg'"
            (mouseover)="imgAccountCircle ='assets/account_circle_blue.svg'"
            (mouseleave)="imgDropDown ='assets/arrow_drop_down.svg'"
            (mouseleave)="imgDropDownRight ='assets/arrow_drop_down-right.svg'"
            (mouseleave)="imgAccountCircle ='assets/account_circle.svg'"
            (mousedown)="imgDropDown ='assets/arrow_drop_down-click.svg'"
            (mousedown)="imgDropDownRight ='assets/arrow_drop_down-right-click.svg'"
            
            >
                <img [src]="openChannels ? imgDropDown : imgDropDownRight" alt="">

                <div class="channels-block">
                    <img [src]="imgAccountCircle" alt="">
                    <h2>Channels</h2>
                </div>
            </div>
            <div (click)="openDialog()" class="add"
            (mouseover)="imgAdd2='assets/add_blue.svg'"
            (mouseleave)="imgAdd2='assets/img/add.svg'"
            (mousedown)="imgAdd2='assets/img/add-click.svg'">
                <img [src]="imgAdd2" alt="">
            </div>
        </div>

        <ng-container *ngIf="openChannels">
            <div *ngFor="let channel of channels$ | async" class="group-chat"
                [ngClass]="{'selected': selectedChannelId === channel.id}"
                (click)="selectChannel(channel); navigateRouteChannel(channel.id)">
                <span>#</span> 
                {{ channel.name }}
            </div>
        </ng-container>

        <!-- <ng-container *ngIf="openChannels">
            <div *ngFor="let channel of currentUserChannels" class="group-chat"
                [ngClass]="{'selected': selectedChannelId === channel.id}"
                (click)="selectChannel(channel); navigateRouteChannel(channel.id!)">
                # {{ channel.name }}
            </div>
        </ng-container> -->

        <div (click)="openDialog()" class="new-channel"
            (mouseover)="imgAdd='assets/add_circle_blue.svg'"
            (mouseleave)="imgAdd='assets/img/add_circle.svg'"
            (mousedown)="imgAdd='assets/add_circle-click.svg'">
            <img [src]="imgAdd" alt="">
            <span>Channel hinzufügen</span>
        </div>

        <div (click)="closeDirectMessages()" class="direct-messages"
        (mouseover)="imgDropDown2 ='assets/arrow_drop_down-blue.svg'"
        (mouseover)="imgDropDownRight2 ='assets/arrow_drop_down-right-blue.svg'"
        (mouseover)="imgAccountCircle2 ='assets/account_circle_blue.svg'"
        (mouseleave)="imgDropDown2 ='assets/arrow_drop_down.svg'"
        (mouseleave)="imgDropDownRight2 ='assets/arrow_drop_down-right.svg'"
        (mouseleave)="imgAccountCircle2 ='assets/account_circle.svg'"
        (mousedown)="imgDropDown2 ='assets/arrow_drop_down-click.svg'"
        (mousedown)="imgDropDownRight2 ='assets/arrow_drop_down-right-click.svg'"
        >
            <img [src]="openEmployees ? imgDropDown2 : imgDropDownRight2" alt="">
            <div class="direct-messages-box">
                <img [src]="imgAccountCircle2" alt="">
                <h2>Direktnachrichten</h2>
            </div>
        </div>
        <div class="solo-chat" *ngIf="openEmployees">
            <div class="solo-employees" *ngFor="let user of users$ | async" (click)="selectUser(user.id)"
                [ngClass]="{'selected': user.id === selectedUserId, 'chat-blinking': user.isBlinking}">
                <img [src]="user.img" alt="User Image">
                <img class="online-offline" src="assets/img/Online.png" alt="Online Status">
                {{ user.name }}<span *ngIf="user.name === loggedInUserName">(Du)</span>
            </div>
        </div>

    </div>
    <button *ngIf="isDavspaceVisible" (click)="devspaceCloseOpen()" (mouseover)="changeImage(true)"
        (mouseout)="changeImage(false)">
        <div class="image-close">
            <span>Workspace-Menü schließen</span>
            <img [src]="imgSrc[0]" alt="Schließen">
        </div>
    </button>
    <button *ngIf="!isDavspaceVisible;" (click)="devspaceCloseOpen()" (mouseover)="changeImageTwo(true)"
        (mouseout)="changeImageTwo(false)">
        <div class="image-open">
            Workspace-Menü öffnen
            <img [src]="imgSrc[0]" alt="Öffnen">
        </div>
    </button>
</section>