button {
    position: absolute;
    left: -135px;
    top: 60vh;
    transform: rotate(-90deg);
    height: 60px;
    width: 330px;
    background-color: rgba(255, 255, 255, 1);
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: 500;
    z-index: 999;

    @media (any-hover: none) { 
        display: none;
     }

    .image-open, .image-close {
        display: flex;
        align-items: center;

    }

    &:hover {
        color: rgba(83, 90, 241, 1);
    }

    img {
        rotate: (90deg);
        margin-left: 10px;
    }
}
section{
    margin-left: 30px;
    margin-top: 20px;

    border-radius: 30px;
    padding: 30px 10px 20px 0;
    transition: width 0.3s ease-in-out;
    width: 380px;
    height: calc(100vh - 131px);



    @media(width < 992px){
        border-radius: 0;
        margin: 0;
        padding: 0;
        height: calc(100vh - 63px);
        width: 100%;
    }
    &.collapsed {
        width: 0; 
        padding-left: 0;
        padding-right: 0;
    
      }
}

.davspace {
    height: calc(100vh - 180px);

    @media(width < 992px){
        width: 100%;
        height: calc(100vh - 63px);
        border-radius: 0;
        margin: 0;
    }
    background-color: white;
    transition: left 1s ease-in-out, opacity 1s ease-in-out;
    opacity: 1;
    display: flex;
    flex-direction: column;
    
    transition: all 0.3s ease-in-out;

    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(136, 136, 136, 0.3);
        border-radius: 2px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: rgba(0, 0, 255, 0.5);
    }

    .solo-chat {
        flex: 1;
        max-height: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
         
    }

    .davspace-hidden {
        left: -400px;
        opacity: 0;
    }

    .davspace-picture {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .davspace-menu {
        background-color: transparent;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 10px 30px;


        .icon {
            cursor: pointer;
            border-radius: 100%;
            &:hover {
                background-color: rgba(236, 238, 254, 1);
            }

            img{
                padding: 5px;
            }
        }

        h1 {
            font-size: 24px;
            background-color: transparent;
            margin: 0;
            cursor: default;
        }

    }

    h2 {
        font-size: 20px;
        font-weight: 700;
        

        &:hover {
            color: rgba(83, 90, 241, 1);
        }
    }

    .channels {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
        margin: 10px 30px;
        padding: 3px 0px;

        .channel-group {
            display: flex;
            align-items: center;
            gap: 15px;
            padding: 5px 10px 5px 0px;

            &:hover{
                color: blue;
            }

            &:active{
                .channels-block{
                    color: black;
                }
            }
        }

        .channels-block {
            display: flex;
            align-items: center;
            gap: 10px;

    
        }

        .add {
            border-radius: 100px;
            text-align: center;
            height: 30px;
            width: 30px;
            display: flex;

        }
    }

    .direct-messages {
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 5px 10px 5px 0px;
        margin: 20px 30px;
        gap: 7px;

        &:hover{
            color: blue;
        }

        &:active{
            h2{
                color: black;
            }
        }

        .direct-messages-box {
            display: flex;
            background-color: transparent;
            gap: 10px;

            img {
                height: 30px;
            }

            
        }
    }

    .solo-employees {
        display: inline-flex;
        align-items: center;
        gap: 20px;
        font-size: 18px;
        cursor: pointer;
        width: auto;
        border-radius: 50px;
        position: relative;
        margin-left: 30px;
        flex-direction: row;
        padding: 3px 20px;
      
        
      
        &:hover {
          background-color: rgba(236, 238, 254, 1);
         
        }
      
        .online-offline {
          position: absolute;
          bottom: 5px;
          left: 65px;
          height: 15px;
          width: 15px;
        }
      
        &.selected {
          background-color: rgba(236, 238, 254, 1); 
          color: blue; 
          font-weight: 600;
        }
      
        img {
          height: 60px;
          width: 60px;
          object-fit: cover;
          border-radius: 100%;
        }
      }



    .new-channel {
        margin-left: 75px;
        margin-top: 20px;
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        height: 40px;
        width: fit-content;


        &:active{
            span{
                color: black;
            }
        }
        img {
            width: 24px;
            height: 24px;
            margin-right: 6px;
        }


        &:hover {
            color: blue;
        }
    }
}

.group-chat {
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
    height: 30px;
    width: 206px;
    border-radius: 50px;
    padding: 5px 0px;
    display: flex;
    justify-content: flex-start;
    margin-left: 60px;
    gap: 13px;
    padding: 4px 20px;
    margin-bottom: 10px;

    &.selected {
        background-color: rgba(0, 0, 255, 0.1);
        color: blue;
        font-weight: 600;

        &:hover{
            color: blue;
        }
    }


    &:hover {
        background-color: rgba(236, 238, 254, 1);
        color: black;

        span{
            color: blue;
        }
    }
}

header {
    background-color: white;
}

.online-status{
    border-radius: 100%;
    border: solid white 2px;
    height: 14px;
    width: 14px;
    position: absolute;
    top: 45px;
    left: 65px;
}

.online{
    background-color: #92C83E;
}

.offline{
    background-color: #686868;
}


h2, h1 {
    margin: 0;
    font-family: nunito, Arial, Helvetica, sans-serif;

}

span {
    font-size: 18px;
}

::ng-deep .border-30 .mat-mdc-dialog-container {
    --mdc-dialog-container-shape: 30px;
}

.chat-blinking {
    animation: blink-animation 1s infinite;
  }
  
  @keyframes blink-animation {
    0% {
      background-color: yellow;
    }
    50% {
      background-color: transparent;
    }
    100% {
      background-color: yellow;
    }
  }

  .send-message{
    position: absolute;
    right: 0;
    bottom: 0;
  }



  .list{
    transition: all 225ms ease-in-out;
    height: fit-content;
    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(136, 136, 136, 0.3);
        border-radius: 2px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: rgba(0, 0, 255, 0.5);
    }
    
      &.fade {
        opacity: 0;
      }
  }

