.sign-up-container {
    position: relative;
    padding-bottom: 36px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    min-height: 300px;
    min-width: 606px;
    h1 {
        color: #444DF2;
        font-size: 36px;
        font-weight: bold;
        font-family: nunito;
    }

    h2 {
        margin: 0 auto;
        width: 80%;
        padding-top: 12px;
        font-family: nunito;
    }
}

.go-back-container {
    background-color: transparent;
    position: absolute;
    left: 0;
    top: -5px;
    padding: 8px;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
    border-radius: 20px;

    img {
        width: 20px;
        height: 20px;
    }

    &:hover {
        cursor: pointer;
        border-radius: 20px;
        background-color: #ECEEFE;
    }

    &:hover img {
        filter: invert(32%) sepia(68%) saturate(1312%) hue-rotate(208deg) brightness(99%) contrast(103%);
    }
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

input:not([type="checkbox"]) {
    padding-left: 100px !important;
    padding: 12px;
    width: 80%;
    border: 1px solid transparent;
    transition: border-color 0.3s ease;
    border-radius: 25px;
    background-color: #ECEEFE;

    &:hover {
        cursor: pointer;
        border-color: black;
    }
}


.hidden {
    display: none;
  }

  .icon,
  .icon-focus {
    position: absolute;
    left: 15%;
    transition: opacity 0.3s ease;
  }

.icon {
    position: absolute;
    left: 15%;
    background-color: #ECEEFE;
    transition: filter 0.3s ease;
}

.icon-focus {
    position: absolute;
    left: 15.7%;
    background-color: #ECEEFE;
    transition: filter 0.3s ease;
  }



.new-email{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 50px;
    color: lightgray;

    span{
        font-size: 16px;
        
    }
}

.button {
    position: absolute;
    right: 50px;
    bottom: 0;
    font-size: 18px;
    border-radius: 25px;
    padding: 12px;
    background-color: #444DF2;
    color: white;
    border: none;

    &:hover {
        cursor: pointer;
        background-color: #797EF3;
    }
}

button:disabled {
    background-color: #cccccc;
    color: #666666; 
    cursor: not-allowed;
    opacity: 0.6;
    border-color: #999999;
}
.button:disabled:hover {
    background-color: #cccccc;
    color: #666666; 
    border-color: #999999; 
}


