@import './../../../../mixins.scss';


.user-profile{
    height: 200px;
    >span{
        color: #444DF2;
        margin-bottom: 10px;

    }

    button{
        border-radius: 30px;
        cursor: pointer;
        
    }
   
}

.profile-aot{
    @include d-flex($jc: space-between);
    
    span{
        font-weight: bold;
        font-size: 20px;
    }

    img{
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    
}



.menu{
    height: 250px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 20px 26px;
    gap: 10px;
    .line-container{
      display: flex;
      justify-content: center;
      width: 100%;
    }
    .line{
        background-color: #D9D9D9;
        display: flex;
        justify-content: center;
        width: 62px;
        height: 6px;
        border-radius: 23px;
  
    }


  }

  .option-container{
    margin-top: 15px;
}

.option{
    margin-bottom: 10px;
    input{
        margin-right: 10px;
    }
}

.channel{
    color: #444DF2;
}

.add-btn{
    @include d-flex($jc: flex-end);
    cursor: pointer;
    button{
        border: none;
        outline: none;
        color: white;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 15px;
        padding-right: 15px;

    }
}

.colorPurple{
    background-color: #444DF2;
    &:hover{
        background-color: #797EF3;
    }
}
.colorGrey{
    background-color: #686868;
}

.search-person{
    border-radius: 30px;
    width: 100%;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border: solid 1px rgba(68, 77, 242, 0.25);

    &:hover{
        border: solid 1px #444DF2;
    }

    &:focus{
        outline: none;
    }
    &:active{
        outline: none;
    }
}