<div class="chat-group">
    <div class="chat-header-group">
        <div (click)="openDialog()" class="name">
            <h2># {{ groupName$ | async }}</h2>
        </div>
        <div class="persons-group">
            <div (click)="openDialogMemberList()" class="display-flex header-group-img">
                <div>
                    <img src="assets/img/avatar-6.png" alt="">
                    <img src="assets/img/avatar-6.png" alt="">
                    <img src="assets/img/avatar-6.png" alt="">
                </div>

                <div>3</div>
            </div>
            <div (click)="openDialogAddMember()" class="invite-people">
                <img (mouseover)="changeImageAddContat(true)" (mouseout)="changeImageAddContat(false)" [src]="imgSrc[2]"
                    alt="">
            </div>

        </div>
    </div>
    <div class="line"></div>
    <div class="complete-container">

        <div class="line-date">
            <div class="line-two"></div>
            <span class="date">{{ displayDate }}</span>
            <div class="line-two"></div>
        </div>
        <div *ngIf="messages.length > 0; else noMessages">
            <div class="center">
                <div class="group-news">
                    <img src="assets/img/avatar-1.png" alt="">
                    <div class="group-chat">
                        <!-- Nachrichtenelemente -->
                        <div class="chat" *ngFor="let message of messages">
                            <div class="current-time">
                                <h2>Klaus</h2>
                                <p>{{ currentTime }} Uhr</p>
                            </div>
                            <span>{{ message }}</span>
                        </div>
                        <div class="answer">
                            <div class="answers">2 Antworten</div>
                            <div>Letzte Antwort {{ currentTime }}</div>
                        </div>
                    </div>
                    <!-- Smiley und andere Elemente -->
                    <div class="add-smiley">
                        <img src="assets/img/smiley/check mark green.png" alt="">
                        <img src="assets/img/smiley/hands in celebration.png" alt="">
                        <img (mouseover)="changeImageSmiley(true)" (mouseout)="changeImageSmiley(false)"
                            [src]="imgSrc[0]" alt="">
                        <img (mouseover)="changeImageComment(true)" (mouseout)="changeImageComment(false)"
                            [src]="imgSrc[1]" alt="">
                    </div>
                </div>
            </div>
        </div>

        <!-- Platzhalter für keine Nachrichten -->
        <ng-template #noMessages>
            <p>Keine Nachrichten vorhanden.</p>
        </ng-template>


    </div>

    <app-chat></app-chat>
</div>