<div *ngIf="!isMobile" class="all">
    <!-- <span>{{screenWidth}}</span> -->
    <div class="chat-group" [ngStyle]="threadOpen ? {'display': 'none'} : {}">
        <div class="chat-header-group">
            <div (click)="openDialog()" class="name"
                (mouseover)="imgKeyboard = 'assets/img/keyboard_arrow_down-blue.svg'"
                (mouseleave)="imgKeyboard = 'assets/img/keyboard_arrow_down.svg'">
                <h2 *ngIf="groupName; else loading"># {{ groupName }}</h2>
                <ng-template #loading>
                    <h2>Lädt...</h2>
                </ng-template>
                <img [src]="imgKeyboard" alt="">

            </div>
            <div class="persons-group" *ngIf="filteredChannels$ | async as channels; else loading">
                <!-- Iteriere über die gefilterten Kanäle -->
                <div 
                [ngStyle]="
                screenWidth < 1220 && currentThreadStatus ? {'display': 'none'} :
                screenWidth < 1270 && currentThreadStatus ? {'max-width': '150px'} : 
                screenWidth < 1370 && currentThreadStatus ? {'max-width': '200px'} : 
                screenWidth < 1470 && currentThreadStatus ? {'max-width': '300px'} :
                screenWidth < 1470 && currentThreadStatus ? {'max-width': '400px'} : 
                {}"
                *ngFor="let channel of channels" (click)="openDialogMemberList()"
                    class="display-flex header-group-img">
                    <div *ngIf="dataLoaded" class="member-images">
                        @for(userImage of userImages; track userImage){
                        <img src="{{userImage}}" alt="">
                        }
                    </div>

                    <!-- Zeige die Benutzeranzahl für den jeweiligen Kanal -->
                    <div>{{ channel.users?.length }}</div>
                </div>

                <div (click)="openDialogAddMember()" class="invite-people">
                    <img (mouseover)="changeImageAddContat(true)" (mouseout)="changeImageAddContat(false)"
                        [src]="imgSrc[2]" alt="">
                </div>
            </div>

            <ng-template #loading>
                <p>Lade Kanäle...</p>
            </ng-template>
        </div>
        <div class="line"></div>
        <div class="chat-complete" #scrollContainer>
            <div [ngClass]="{'my-message': message.userName === loggedInUserName, 'complete-container': message.userName !== loggedInUserName}"
                *ngFor="let message of messages; let i = index">
                <div *ngIf="message.timestamp" class="line-date">
                    <div class="line-two"></div>
                    <span class="date">{{message.timestamp }}</span>
                    <div class="line-two"></div>
                </div>
                <div *ngIf="messages.length > 0;">
                    <div class="center">
                        <div class="group-news">
                            <img class="profile-img" src="{{message.userImage}}" alt="">
                            <div class="group-chat">
                                <div class="chat">
                                    <div class="current-time">
                                        <h2>{{ message.userName }}</h2>
                                        <p>{{ message.time }} Uhr</p>
                                    </div>
                                    <!-- Bild in der Nachricht -->
                                    <img *ngIf="message.image" [src]="message.image" alt="Nachricht Bild"
                                        class="message-image" (click)="openImageModal(message.image)">

                                    <!-- Modal zum Vergrößern des Bildes -->
                                    <div class="modal" *ngIf="isImageModalOpen" (click)="closeImageModal()">
                                        <div class="modal-content">
                                            <img [src]="selectedImageForModal" alt="Vergrößertes Bild"
                                                class="modal-image">
                                        </div>
                                    </div>

                                    <span *ngIf="!isEditing[message.id]">{{ message.text }}</span>
                                    <input *ngIf="isEditing[message.id]" [(ngModel)]="message.text"
                                        (blur)="saveText(message.id)" />
                                </div>
                                <div class="text">
                                    <div *ngFor="let smileyGroup of groupSmileys(message.smileys || [])" class="smiles">
                                        <p>{{ smileyGroup.smiley }}</p> <!-- Das tatsächliche Emoji anzeigen -->
                                        <p>{{ smileyGroup.count }}</p> <!-- Zeige die Anzahl der Smileys an -->
                                        <div class="hover-smiles">
                                            <p>{{ smileyGroup.smiley }}</p> <!-- Das tatsächliche Emoji -->
                                            <p>{{ smileyGroup.clickedBy.join(', ') }} haben reagiert</p>
                                            <!-- Zeige die Benutzer an -->
                                        </div>
                                    </div>
                                </div>
                                <div class="answer">
                                    <div class="answers" (click)="navigateToAnswers(message.id)">
                                        <!-- Anzeige der Anzahl der Chats -->
                                        <ng-container *ngIf="message.chats.length === 0">Antworten</ng-container>
                                        <ng-container *ngIf="message.chats.length === 1">1 Antwort</ng-container>
                                        <ng-container *ngIf="message.chats.length > 1">
                                            {{ message.chats.length }} Antworten
                                        </ng-container>
                                    </div>
                                    <div class="last-answers-time">Letzte Antwort {{ getLastChatTime(message) }}</div>

                                </div>
                            </div>
                            <div class="add-smiley">
                                <div class="smiley-div"><img src="assets/img/smiley/check-mark-green.svg"
                                        (click)="saveSmileyToMessage('✅', message.id)"></div>
                                <div class="smiley-div"><img src="assets/img/smiley/hands_in_celebration.svg" alt=""
                                        (click)="saveSmileyToMessage('🙌', message.id)">
                                </div>
                                <div class="smiley-div">
                                    <img (mouseover)="changeImageSmiley(true)" (mouseout)="changeImageSmiley(false)"
                                        [src]="imgSrc[0]" alt="" (click)="selectSmiley()">
                                    <emoji-mart *ngIf="emojiPickerVisible" (emojiSelect)="addEmoji($event, message.id)"
                                        title="Pick your emoji"
                                        [ngStyle]="{'position': 'absolute', 'z-index': '1000', 'top': '30px', 'right': '0', 'left': (isUserEqualToChatUser(message.userName) ? '0' : 'auto')}">
                                    </emoji-mart>
                                </div>
                                <div class="smiley-div"><img (mouseover)="changeImageComment(true)"
                                        (mouseout)="changeImageComment(false)" [src]="imgSrc[1]" alt=""
                                        (click)="navigateToAnswers(message.id)"></div>
                                <div class="smiley-div edit"><img *ngIf="message.userName === loggedInUserName"
                                        (mouseover)="changeImageMoreVert(true)" (mouseout)="changeImageMoreVert(false)"
                                        [src]="imgSrc[3]" (click)="editText(message.id)" alt="">
                                    <div class="edit-text" (click)="editText(message.id)">
                                        Nachricht bearbeiten
                                    </div>
                                </div>

                            </div>


                        </div>

                    </div>
                </div>
            </div>
            <div #scrollAnchor></div>
            <app-chat></app-chat>
        </div>

    </div>
    
    <div [ngClass]="threadOpen ? 'group-answer': ''">
        <!-- Hier dein Chat-Layout -->
        <router-outlet (activate)="onActivate($event)"></router-outlet> <!-- Dieser wird die Child-Komponente laden -->
    </div>
</div>