<div class="all">
    <div class="chat-group">
        <div class="chat-header-group">
            <div (click)="openDialog()" class="name">
                <h2 *ngIf="groupName; else loading"># {{ groupName }}</h2>
                <ng-template #loading>
                    <h2>Lädt...</h2>
                </ng-template>
                <!-- <img src="assets/img/keyboard_arrow_down_v2.png" alt=""> -->
            </div>
            <div class="persons-group" *ngIf="filteredChannels$ | async as channels; else loading">
                <!-- Iteriere über die gefilterten Kanäle -->
                <div *ngFor="let channel of channels" (click)="openDialogMemberList()"
                    class="display-flex header-group-img">
                    <div *ngIf="dataLoaded" class="member-images">
                        @for(userImage of userImages; track userImage){
                        <img src="{{userImage}}" alt="">
                        }
                        <!-- <img src="assets/img/avatar-6.png" alt="">
                    <img src="assets/img/avatar-6.png" alt=""> -->
                    </div>

                    <!-- Zeige die Benutzeranzahl für den jeweiligen Kanal -->
                    <div>{{ channel.users?.length }}</div>
                </div>

                <div (click)="openDialogAddMember()" class="invite-people">
                    <img (mouseover)="changeImageAddContat(true)" (mouseout)="changeImageAddContat(false)"
                        [src]="imgSrc[2]" alt="">
                </div>
            </div>

            <ng-template #loading>
                <p>Lade Kanäle...</p>
            </ng-template>
        </div>
        <div class="line"></div>
        <div class="chat-complete" #scrollContainer>
            <div [ngClass]="{'my-message': message.userName === loggedInUserName, 'complete-container': message.userName !== loggedInUserName}"
                *ngFor="let message of messages">
                <div class="line-date">
                    <div class="line-two"></div>
                    <span class="date">{{message.timestamp }}</span>
                    <div class="line-two"></div>
                </div>
                <div *ngIf="messages.length > 0;">
                    <div class="center">
                        <div class="group-news">
                            <img [src]="user?.img" alt="">
                            <div class="group-chat">
                                <div class="chat">
                                    <div class="current-time">
                                        <h2>{{ message.userName }}</h2>
                                        <p>{{ message.time }} Uhr</p>
                                    </div>
                                    <span *ngIf="!isEditing[message.id]">{{ message.text }}</span>
                                    <input *ngIf="isEditing[message.id]" [(ngModel)]="message.text" (blur)="saveText(message.id)" />
                                </div>
                                <div class="answer">
                                    <div class="answers" (click)="navigateToAnswers(message.id)">
                                        <!-- Anzeige der Anzahl der Chats -->
                                        <ng-container *ngIf="message.chats.length === 0">Antworten</ng-container>
                                        <ng-container *ngIf="message.chats.length === 1">1 Antwort</ng-container>
                                        <ng-container *ngIf="message.chats.length > 1">
                                            {{ message.chats.length }} Antworten
                                        </ng-container>
                                    </div>
                                    <div>Letzte Antwort {{ currentTime }}</div>
                                </div>
                            </div>
                            <div class="add-smiley">
                                <img src="assets/img/smiley/check mark green.png" alt="">
                                <img src="assets/img/smiley/hands in celebration.png" alt="">
                                <img (mouseover)="changeImageSmiley(true)" (mouseout)="changeImageSmiley(false)"
                                    [src]="imgSrc[0]" alt="">
                                <img (mouseover)="changeImageComment(true)" (mouseout)="changeImageComment(false)"
                                    [src]="imgSrc[1]" alt="" (click)="navigateToAnswers(message.id)">
                                    <img *ngIf="message.userName === loggedInUserName"
                                    (mouseover)="changeImageMoreVert(true)" (mouseout)="changeImageMoreVert(false)"
                                    [src]="imgSrc[3]" (click)="editText(message.id)" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <app-chat></app-chat>
        </div>

    </div>
    <div>
        <!-- Hier dein Chat-Layout -->
        <router-outlet></router-outlet> <!-- Dieser wird die Child-Komponente laden -->
    </div>

</div>