@import './../../../mixins.scss';

.example-chip-list {
    width: 100%;
    border: none;
    outline: none;
    background-color: white;
    position: relative;
  }
  

  input{
    width: 100%;
    height: 40px;
    border-radius: 30px;
    margin-bottom: 10px;
    padding: 5px 0px 5px 10px;
    border: solid 1px #ADB0D9;
    cursor: pointer;
    &:hover{
        border: solid 1px #444DF2;
    }
    &:focus{
        outline: none;
    }
    input[autofocus] {

        outline: none;
      }
}

.mdc-evolution-chip-set, .mdc-evolution-chip{
    margin-left: 15px;
}

.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) {
    background-color: #ECEEFE;
}

mat-icon{
    color: black;
    font-weight: bold;
    &:hover{
        color: #444DF2;
    }
}


  
  mat-chip-row {
    position: absolute;
    z-index: 2; 
  }
  
  input{
    position: relative;
    z-index: 1;  
    background: transparent;  
  }





::ng-deep .mdc-list-item__primary-text{
    display: flex;
    align-items: center;
}
::ng-deep .mat-mdc-autocomplete-panel{
    border-radius: 0px 20px 20px 20px !important;
}

::ng-deep .mat-mdc-autocomplete-panel::-webkit-scrollbar{
    scrollbar-width: none; 
    -ms-overflow-style: none;  
    width: 0px;  
    background: transparent;  
}



mat-option{
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    border-radius: 30px;
    width: fit-content;
    padding-top: 5px;
    padding-bottom: 5px;
    
    img{
        @include widthHeight($w: 30px, $h: 30px);
        border-radius: 100%;
        margin-right: 5px;
    }
}


 
.mat-mdc-option:hover:not(.mdc-list-item--disabled) {
    background-color: #ECEEFE;
}



.mat-mdc-option{
    min-height: fit-content;
}

.add-btn{
    @include d-flex($jc: flex-end);
    button{
        cursor: pointer;
        background-color: #686868;
        border: none;
        outline: none;
        color: white;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 15px;
        padding-right: 15px;
        border-radius: 30px;

    }
}




