<div class="search-container custom-overlay-container">
        
    <form class="search-bar" [formGroup]="stateForm">
      <input
      [ngClass]="filterOpen ? 'border-bottom0' : 'border-bottom30'"
          #searchInput
          placeholder="Code learning durchsuchen"
          type="text"
          matInput
          [formControl]="searchFieldControl"
          [matAutocomplete]="auto"
          (focus)="onFocus()"
          (click)="changeBottom()"
          (blur)="onBlur()"
      />
      <mat-icon>search</mat-icon>

      <mat-autocomplete
    hideSingleSelectionIndicator="true"
      #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
          <ng-container  *ngFor="let group of filterGroupOptions | async">
          <mat-optgroup  [label]="group.type">
              <mat-option *ngFor="let item of group.items" [value]="item">
                @if(item.img){
                  <img src="{{item.img}}" alt="">
                } @else {
                  <div class="channel-tag">#</div>
                }
                <span>{{ item.name }}</span>
              
              </mat-option>
          </mat-optgroup>
          </ng-container>
      </mat-autocomplete>
    </form> 
  </div>
