@import './../../../mixins.scss';

.user-profile{
    padding: 30px 25px 30px 25px;
    height: 100%;
   
}
.profile-aot{
    @include d-flex($jc: space-between);
    margin-bottom: 15px;
    
    span{
        font-weight: bold;
        font-size: 16px;
    }
    img{
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
}

.avatar{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    img{
        width: 125px;
        height: 125px;
        border-radius: 100%;
    }
}

.user-txt{
    @include d-flex($jc: space-between);
    margin-bottom: 20px;
    span{
        &:first-child{
            font-size: 24px;
            font-weight: bold;
        }
    }
}

.status{
    @include d-flex($jc: flex-start);
    margin-bottom: 25px;
    div{
        background-color: #92C83E;
        border-radius: 100%;
        width: 10px;
        height: 10px;
        margin-right: 10px;
    }
    span{
        color: #92C83E;
    }
}


.online{
    div{
        background-color: #92C83E;
    }
    span{
        color: #92C83E;
    }
}

.offline{
    div{
        background-color: #686868;
    }
    span{
        color: #686868;
    }
}

.email{
    @include d-flex($jc: flex-start, $dir: row, $ai: flex-start);
    img{
        @include widthHeight($w: 23px, $h: 20px);
        margin-right: 14px;
    }

    div{
        @include d-flex($dir: column, $ai: flex-start);
        span{
            &:first-child{
                margin-bottom: 10px;
                font-weight: bold;
            }
            &:last-child{
                color: #1381FF;
            }
        }
    }
}

::ng-deep .border-radius .mat-mdc-dialog-container {
    box-shadow: none !important;
    --mdc-dialog-container-shape: 30px;
  }

.buttons{
    margin-top: 25px;
    @include d-flex();

    span{
        color: white;
    }
    button{
        cursor: pointer;
        border-radius: 30px;
        @include widthHeight($w: 110px, $h: 33px);
        background-color: #444DF2;
        border: none;
        @include d-flex();

        &:hover{
            background-color: #797EF3;
        }
        &:focus{
            border: none;
            outline: none;
        }
    }
}

.icon-default{
    color: white;
    margin-top: 11px;
    font-size: 14px;
}

@media(width < 992px){
    .user-txt{
        margin-bottom: 30px;
        span{
            &:first-child{
                font-size: 36px;
            }
        }
    }

    .status{
        margin-bottom: 40px;
        div{
            width: 20px;
            height: 20px;
            margin-right: 15px;
        }
        span{
            font-size: 20px;
        }
    }

    .email{
        gap: 10px;
        img{
            @include widthHeight($w: 30px, $h: 30px);
            margin-top: -4px;
        }
    
        div{
            font-size: 20px;
            gap: 10px;
        }
    }

    .profile-aot{
        
        span{
            font-size: 24px;
        }
        img{
            width: 40px;
            height: 40px;
        }

        margin-bottom: 50px;
    }

    .avatar{
        margin-bottom: 60px;
        img{
            width: 180px;
            height: 180px;
        }
    }

    .buttons{
        span{
            font-size: 20px;
        }
        button{
            @include widthHeight($w: 150px, $h: 50px);
        }
    }

    .icon-default{
        margin-top: 5px;
        margin-right: 5px;
        font-size: 20px;
    }
}

::ng-deep .mat-mdc-dialog-container {
    --mdc-dialog-container-shape: 30px 0px 30px 30px;

    @media(width < 992px){
    --mdc-dialog-container-shape: 30px;
    }
  }

  ::ng-deep .cdk-overlay-pane.mat-mdc-dialog-panel {
    max-width: none;
    width: 400px;
    height: 450px;

    @media(width < 992px){
        width: calc(100% - 20px);
        height: calc(100% - 40px);
    }
}