

<div class="textarea"   #autoScrollTextarea>
   
    <textarea (input)="onInputChange($event)" autofocus [(ngModel)]="messageContent" #scrollContainer [class.expanded]="isImageSelected" #messageInput rows="2" cols="50" [placeholder]="placeholderText"
        (keydown)="handleKeyDown($event, messageInput)"></textarea>
    
    <div *ngIf="selectedImageUrl" class="image-preview">
        <img [src]="selectedImageUrl" alt="Bildvorschau" />
        <button class="removeImage" (click)="removeImage()">x</button>
    </div>

    <div class="textarea-send">
        <div class="textarea-add">
            <img (mouseover)="changeAdd(true)" (mouseout)="changeAdd(false)" (click)="fileInput.click()"
                [src]="imgTextarea[0]" alt="">
            <div></div>
        </div>

        <div>
            <img 
              (click)="toggleEmojiPicker()" 
              (mouseover)="addSmiley(true)" 
              (mouseout)="addSmiley(false)" 
              [src]="imgTextarea[1]" 
              alt="Smiley">
            
            <img mat-button [matMenuTriggerFor]="aboveChannelMenu"
            #menuTriggerChannel = "matMenuTrigger"
              (mouseover)="channelTag = 'assets/tag_hover.svg'" 
              (mouseout)="channelTag = 'assets/tag.svg'" 
              [src]="channelTag" 
              alt="Channel-Tag Icon">

            <mat-menu #aboveChannelMenu="matMenu" yPosition="above">
                <div class="name-menu">
                    @for (channel of selectChannels; track channel) {
                        <button (click)="addUserOrChannelToInput(channel.name, 'channel')" mat-menu-item>
                            {{channel.name}}
                        </button>
                    }
                </div>
            </mat-menu>

            <img mat-button [matMenuTriggerFor]="aboveMenu"
            #menuTrigger = "matMenuTrigger"
              (mouseover)="addEmailContact(true)" 
              (mouseout)="addEmailContact(false)" 
              [src]="imgTextarea[2]" 
              alt="Email Icon">

            <mat-menu #aboveMenu="matMenu" yPosition="above">
                <div class="name-menu">
                    @for (user of selectUsers; track user) {
                        <button (click)="addUserOrChannelToInput(user.name, 'user')" mat-menu-item>
                            <img src="{{user.img}}" alt="">
                            {{user.name}}
                        </button>
                    }
                </div>
            </mat-menu>
            
            <div  *ngIf="showEmojiPicker" class="emoji-picker">
                <emoji-mart (emojiSelect)="addEmoji($event)" title="Pick your emoji…" emoji="point_up"></emoji-mart>
            </div>
        </div>

    </div>
    
    <div class="send">
        <img (click)="sendMessage(messageInput.value)" (mouseover)="sendNews(true)" (mouseout)="sendNews(false)"
            [src]="imgTextarea[3]" alt="">
    </div>
    
    <input type="file" #fileInput (change)="onFileSelected($event)" style="display:none">
</div>
