
textarea {
    height: 145px;
    width: calc(100% - 40px);
    border: 2px solid rgba(51, 38, 235, 0.2);
    border-radius: 20px;
    position: absolute;
    bottom: 30px;
    padding: 10px 10px 55px 10px;
    resize: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    outline: none;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #888;
        border-radius: 2px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: #555;
    }
}

textarea.expanded {
    height: 300px!important; 
    margin-top: 50px;
}


.textarea {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
    padding-left: 16px;


    .textarea-send {
        font-size: 24px;
        cursor: pointer;
        display: flex;
        gap: 8px;
        text-align: center;
        position: absolute;
        left: 30px;
        bottom: 50px;

        .textarea-add {
            display: flex;
            align-items: center;
            div{
                border: solid 1px lightgray;
                height: 32px;
                width: 1px;
                font-size: 40px;
                margin-left: 3px;
            }
        }

        img {
            height: 30px;
            width: auto;
            padding: 2px;
            border-radius: 50%;

            &:hover {
                background-color: rgb(236, 238, 254);

            }
        }
    }

    .send {
        position: absolute;
        right: 40px;
        bottom: 50px;
        cursor: pointer;
    }
}


.image-preview {
    text-align: center;
    position: absolute;
    left: 30px;
    bottom: 80px;
    gap: 10px; 
}


.image-preview img {
    height: 150px;
    width: 150px;
   
    border-radius: 5px;
}



.image-preview button {
    position: relative;
    right: 10px;
    top: -145px;
    background-color: lightgray;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    font-size: 16px;
}
.emoji {
    position: absolute;  
    bottom: 40px;        
    left: 0;          
    z-index: 1000;    
  }

.emoji{
    display: none;
}

.name-menu{
    height: fit-content;
    max-height: 300px;
    button{
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 30px;
            height: auto;
            border-radius: 50%;
            margin-bottom: -8px;
        }
    }

    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(136, 136, 136, 0.3);
        border-radius: 2px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: rgba(0, 0, 255, 0.5);
    }
}