<div class="textarea" #autoScrollTextarea>
    <textarea #messageInput rows="2" cols="50" [placeholder]="placeholderText" (keydown)="handleKeyDown($event, messageInput)"></textarea>
    <div class="textarea-send">
        <div class="textarea-add">
            <img (mouseover)="changeAdd(true)" (mouseout)="changeAdd(false)" [src]="imgTextarea[0]" alt=""> | </div>
        <div>
            <img (mouseover)="addSmiley(true)" (mouseout)="addSmiley(false)" [src]="imgTextarea[1]"  alt="">
            <img (mouseover)="addEmailContact(true)" (mouseout)="addEmailContact(false)" [src]="imgTextarea[2]"  alt="">
        </div>
    </div>
    <div class="send">
        <img (click)="sendMessage(messageInput)" (mouseover)="sendNews(true)" (mouseout)="sendNews(false)" [src]="imgTextarea[3]"  alt="">
    </div>
</div>