<nav>
    <div class="logo">
      <img src="assets/Logo.png" alt="">
      <span>DABubble</span>
    </div>
    <div *ngIf="isVisible" class="sing-up-container">
      <span class="info-text">Neu bei DABubble?</span>
      <span [routerLink]="['/sign-up']" class="sign-up">Konto erstellen</span>
    </div>
  </nav>
  <div class="content">
    <mat-card>
      <mat-card-content><router-outlet></router-outlet></mat-card-content>
    </mat-card>
    <div class="footer">
      <a href="">Impressum</a>
      <a href="">Datenschutz</a>
    </div>
  </div>