<mat-card class="user-profile">
    <div class="profile-aot">
        <span class="profile-txt" >Channel erstellen</span>
        <img (click)="closeDialog()" class="close" [src]="imgSrc"
        (mouseover)="imgSrc = 'assets/img/close_hover.png'"
        (mouseout)="imgSrc = 'assets/img/close_default.png'" 
        alt="">
    </div>
    <p>Channels dienen deinem Team zur Kommunikation. Am besten sollten sie themenbezogen sein #marketing zum Beispiel.</p>
    <form #form="ngForm" (ngSubmit)="onSubmit()">
        <div class="inputs">
            <span>Channel Name</span>
            
            <input [(ngModel)]="name" name="name" required placeholder="#  z.B. Kooperationsprojekte" type="text">
            <span>Beschreibung <span>(optional)</span></span>
            <input [(ngModel)]="description" name="description" required placeholder="Dein Text hier" type="text">
        </div>
        <div class="buttons">
            <button type="submit" [disabled]="!form.valid">
                <span>Erstellen</span>
            </button>
        </div>
    </form>
</mat-card>
