.main{
    display: flex;
    background-color: #ECEEFE;
    // height: 90vh;
    width: 100%;
    max-width: 100vw;
    
}

app-new-message-chat{
  width: 100%;

  @media(width < 992px){
      width: auto;
  }
}

app-group-chat{
  width: 100%;

  @media(width < 992px){
      width: auto;
  }
}

app-devspace{
  width: auto;

  @media(width < 992px){
      width: 100%;
  }
}


app-solo-chat{
    width: 100%;
    margin-right: 40px;
    @media(width < 992px){
      width: auto;
  }

}

.main {
    display: flex;
  }
  
  // router-outlet {
  //   flex: 1;
  // }


.slide-up{
  transform: translateY(0);  /* Slide into view */
  transition: transform 0.5s ease;  /* Smooth slide-up animation */


}

.slide-down{
  transform: translateY(500%);  /* Initially off-screen */
  transition: transform 0.5s ease;  /* Smooth slide-up animation */
}

.profile-menu{
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  // transition: all transform 0.5s ease;  /* Smooth slide-up animation */

}