.main{
    display: flex;
    background-color: #ECEEFE;
    height: 90vh;
    width: 100%;
    max-width: 100vw;
    
}


app-solo-chat{
    width: 100%;
    margin-right: 40px;
}

.main {
    display: flex;
  }
  
  router-outlet {
    flex: 1;
  }