* {
    background-color: white;
}

.error-message {
    margin: 0 auto;
    display: flex;
    width: 80%;
    color: red;
    font-size: 12px;
    padding-bottom: 8px;
    padding-top: 8px;
  }

.login-container {
  
    text-align: center;
    h1 {
        color: #444DF2;
        font-size: 36px;
        font-weight: bold;
        font-family: nunito;
    }

    h2 {
        padding-top: 12px;
        width: 80%;
        font-family: nunito;
    }
}

.d-none{
    display: none;
}

.headline{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.google-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 24px;

    &:hover .google-icon,
    &:hover button {
        border-color: #444DF2;
        color: #444DF2;
        cursor: pointer;
        font-weight: bold;
    }
}

.google-container button {
    background-color: #ECEEFE;
    width: 80%;
    padding: 12px;
    font-size: 16px;
    color: #444df2;
    border: 2px solid transparent;
    border-radius: 25px;
    transition: border-color 0.3s ease;

}

.google-container button:hover {
    color: #444DF2;
    cursor: pointer;
    font-weight: bold;
    border-color: #444DF2;
}

.google-icon {
    position: absolute;
    left: 28%;
    background-color: transparent;
    transition: transform 0.3s ease;
}

.google-icon:hover {
    cursor: pointer;

}

.hidden {
    display: none;
  }

  .icon,
  .icon-focus {
    position: absolute;
    left: 15%;  
    transition: opacity 0.3s ease;  
  }

.icon {
    position: absolute;
    left: 15%;
    background-color: #ECEEFE;
    transition: filter 0.3s ease;
}

.icon-focus {
    position: absolute;
    left: 15.7%;
    background-color: #ECEEFE;
    transition: filter 0.3s ease;
  }



input::placeholder {
    font-size: 16px;
}

input {
    padding-left: 100px !important;
    padding: 12px;
    width: 80%;
    border: 1px solid transparent;
    transition: border-color 0.3s ease;
    border-radius: 25px;
    background-color: #ECEEFE;
    &:hover {
        cursor: pointer;
        border-color: black;
    }
}

.passwort {
    a {
        padding: 8px;
        font-size: 18px;
        color: #959AF6;
        &:hover {
            border-radius: 25px;
            font-weight: bold;
            color: #444DF2;
            background-color: #ECEEFE;
        }
    }
}

.or-section {
    padding-top: 24px;
    display: flex;
    justify-content: center;
    padding-bottom: 36px;
    span {
        font-size: 20px;
    }
}

.left-line {
    margin-right: 8px;
    border-bottom: 2px solid lightgray;
    width: 35%;
}

.right-line {
    margin-left: 8px;
    border-bottom: 2px solid lightgray;
    width: 35%;
}

.login-button {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.login {
    font-size: 24px;
    border-radius: 25px;
    padding: 12px;
    background-color: #444DF2;
    color: white;
    border: none;
    &:hover{
        cursor: pointer;
        background-color: #797EF3;
    }
}

.guest-login {
    padding: 12px 25px;
    gap: 10px;
    border-radius: 25px;
    border: 1px solid #797EF3;
    font-size: 18px;
    font-weight: 700;
    line-height: 24.55px;
    text-align: center;
    background-color: #fff;
    color: #444df2;
    transition: ease-in-out 125ms;
    &:hover{
        cursor: pointer;
        background-color: #444DF2;
        color: white;
    }
}

@media screen and (max-width:992px){
    input:not([type="checkbox"]) {
        width: 100% !important;
        padding-left: 37% !important;
    }
    .checkbox-container {
        margin: 0!important;
        width: 100%!important;
    }

    .google-container button{
        width: 100%;
    }

    .google-icon{
        left: 27%;
    }

    .right-line{
        width: 50%;
    }

    .left-line{
        width: 50%;
    }
    
    .error-message {
        margin: 0 !important;
        width: 100%!important;
    }

    .icon {
        left: 27% !important;
    }

    .icon-focus {
        left: 27% !important;

    }
    h2 {
        margin: 0 !important;
        width: 100% !important;
        padding-bottom: 24px;
    }
}
@media screen and (max-width:650px) {
    input:not([type="checkbox"]) {
        padding-left: 22% !important;
    }

    .google-icon{
        left: 17%;
    }

    .icon {
        left: 10% !important;
    }

    .icon-focus {
        left: 10% !important;

    }

    h2 {
        font-size: 16px !important;
    }
}
@media screen and (max-width:500px) {
    h2 {
        font-size: 14px !important;
    }
}

@media screen and (max-width:450px){
    .error-message{
        font-size: 10px;
    }
    .google-icon{
        left: 8%;
    }

    .login{
        font-size: 18px;
    }

    .login-button{
        gap: 10px;
    }

    .guest-login{
        padding: 12px 16px;
    }

    .google-container button{
      padding-left: 20px;
    }
    
}