* {
    background-color: white;
}

.login-container {
    text-align: center;

    h1 {
        color: #444DF2;
        font-size: 36px;
        font-weight: bold;
    }

    h2 {
        padding-top: 12px;
    }
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 24px;
}

.google-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 24px;

    /* Fügt einen Hover-Effekt für die gesamte Container hinzu */
    &:hover .google-icon,
    &:hover button {
        border-color: #444DF2;
        color: #444DF2;
        cursor: pointer;
        font-weight: bold;
    }
}

.google-container button {
    background-color: #ECEEFE;
    width: 80%;
    padding: 12px;
    font-size: 16px;
    color: #444df2;
    border: 2px solid transparent;
    border-radius: 25px;
    transition: border-color 0.3s ease;

}

.google-container button:hover {
    color: #444DF2;
    cursor: pointer;
    font-weight: bold;
    border-color: #444DF2;
}

.google-icon {
    position: absolute;
    left: 28%;
    background-color: transparent;
    transition: transform 0.3s ease;
}

.google-icon:hover {
    cursor: pointer;

}



.icon {
    position: absolute;
    left: 15%;
}



input::placeholder {
    font-size: 16px;
}

input {
    padding-left: 100px !important;
    padding: 12px;
    width: 80%;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
    border-radius: 25px;
    background-color: #ECEEFE;

    &:hover {
        cursor: pointer;
        border-color: black;
    }
}

.passwort {
    padding-top: 24px;

    a {
        padding: 8px;
        font-size: 18px;
        color: #959AF6;

        &:hover {
            border-radius: 25px;
            font-weight: bold;
            color: #444DF2;
            background-color: #ECEEFE;
        }
    }

}

.or-section {
    padding-top: 24px;
    display: flex;
    justify-content: center;
    padding-bottom: 24px;

    span {
        font-size: 20px;
    }
}

.left-line {
    margin-right: 8px;
    border-bottom: 2px solid lightgray;
    width: 35%;
}



.right-line {
    margin-left: 8px;
    border-bottom: 2px solid lightgray;
    width: 35%;
}

.login-button {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.login {
    font-size: 24px;
    border-radius: 25px;
    padding: 12px;
    background-color: #444DF2;
    color: white;
    border: none;
    &:hover{
        cursor: pointer;
        background-color: #797EF3;
    }
}

.guest-login {
    padding: 12px 25px;
    gap: 10px;
    border-radius: 25px;
    border: 1px solid #797EF3;
    font-size: 18px;
    font-weight: 700;
    line-height: 24.55px;
    text-align: center;
    background-color: #fff;
    color: #444df2;
    cursor: pointer;
    transition: ease-in-out 125ms;

    &:hover{
        cursor: pointer;
        background-color: #444DF2;
        color: white;
    }
}