
<div class="login-container">
    <div class="headline">
        <h1>Anmeldung</h1>
        <h2>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</h2>
    </div>
    <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
    </div>
    <form (ngSubmit)="onLogin()">
        <div class="input-container">
            <img class="icon" src="assets/img/mail.svg" alt="" [class.hidden]="isEmailFocused">
            <img class="icon-focus" src="assets/img/mail-dark.png" alt="" [class.hidden]="!isEmailFocused">

            <input [(ngModel)]="email" name="email" type="email"
            pattern="[^@\s]+@[^@\s]+\.[^@\s]+" [placeholder]="isEmailFocused ? '' : 'beispielname@email.com'" required (focus)="isEmailFocused = true"
                #emailInput="ngModel" />
        </div>
        <div class="error-message" [ngStyle]="{'opacity': emailInput.invalid && emailInput.touched ? '1' : '0'}">
            *Diese E-Mail-Adresse ist leider ungültig.
        </div>
        <div class="input-container">
            <img class="icon" src="assets/img/lock.svg" alt="" [class.hidden]="isPasswordFocused" >
            <img class="icon-focus" src="assets/img/lock-dark.png" alt="" [class.hidden]="!isPasswordFocused" >

            <input [(ngModel)]="password" name="password" type="password" minlength="8" [placeholder]= " isPasswordFocused ? '' : 'Passwort'" required (focus)="isPasswordFocused = true"
                #passwordInput="ngModel">
        </div>

        <div [ngStyle]="{'opacity': passwordInput.invalid && passwordInput.touched ? '1' : '0'}" class="error-message">
            Falsches Passwort oder E-Mail. Bitte noch einmal versuchen.
        </div>

        <div class="passwort">
            <a [routerLink]="'/reset-password'">Passwort vergessen?</a>
        </div>
        <div class="or-section">
            <div class="left-line"></div>
            <span>ODER</span>
            <div class="right-line"></div>
        </div>
        <div class="google-container">
            <img class="google-icon" src="assets/img/Google.svg" alt="">
            <button (click)="signInWithGoogle()">Anmelden mit Google</button>
        </div>
        <div class="login-button">
            <button type="submit" class="login">Anmelden</button><button class="guest-login">Gäste-Login</button>
        </div>
    </form>
</div>