<div class="login-container">
    <h1>Anmeldung</h1>
    <h2>Wir empfehlen dir, die E-Mail-Adresse zu nutzen, die du bei der Arbeit verwendest.</h2>
    <div class="input-container">
        <img class="icon" src="assets/img/mail.png" alt="">
        <input type="email" placeholder="beispielname@email.com">
    </div>
    <div class="input-container">
        <img class="icon" src="assets/img/lock.png" alt="">
        <input type="text" placeholder="Passwort">
    </div>
    <div class="passwort">
        <a href="">Passwort vergessen?</a>
    </div>
    <div class="or-section">
        <div class="left-line"></div>
        <span>ODER</span>
        <div class="right-line"></div>
    </div>
    <div class="google-container">
        <img class="google-icon" src="assets/img/Google.png" alt="">
        <button>Anmelden mit Google</button>
    </div>
    <div class="login-button">
        <button class="login">Anmelden</button><button class="guest-login">Gäste-Login</button>
    </div>
</div>