<div class="solo-group">
  <div class="chat-header-group">
    <div class="name">
      <img *ngIf="user$ | async as user" [src]="user.img" alt="">
      <h2 *ngIf="user$ | async as user">{{ user.name }}</h2>    </div>
  </div>

  <div class="line"></div>
  <div class="line-date">
    <div class="line-two"></div>
    <div class="line-two"></div>
  </div>
  <div class="center">
    <div class="solo-chat">
      <img *ngIf="user$ | async as user" [src]="user.img" alt="">
      <div class="solo-name">
            <h2 *ngIf="user$ | async as user">{{ user.name }}</h2> 
      </div>
    </div>
    <div class="chat">
      <span>Diese Unterhaltung findet nur zwischen <b> &#64;{{ (user$ | async)?.name }}</b>  statt.</span>
    </div>
  </div>
  <app-chat></app-chat>
</div>
