<div class="solo-group">
  <div class="chat-header-group">
    <!-- Einmalige asynchrone Abfrage für den Benutzer -->
    <ng-container *ngIf="user$ | async as user">
      <div class="name">
        <img [src]="user.img" alt="">
        <h2>{{ user.name }}</h2>
      </div>
    </ng-container>
  </div>

  <div class="line"></div>

  <div class="center" #scrollContainer>
    <div class="solo-chat padding20">
      <ng-container *ngIf="user$ | async as user">
        <img [src]="user.img" alt="">
        <div class="solo-name">
          <h2>{{ user.name }}</h2>
        </div>

      </ng-container>
    </div>

    <!-- Bedingte Anzeige basierend auf der User-Vergleich -->
    <ng-container *ngIf="user$ | async as user">
      <div *ngIf="user.name === loggedInUserName; else notLoggedIn">
        <div class="chat padding20">
          <p> <b>Dieser Raum ist nur für dich da. </b> Mache dir Notizen, liste deine To-dos auf oder bewahre Links und
            Dateien griffbereit auf. Du kannst hier auch gerne Dinge mit dir selbst besprechen.</p>
        </div>
      </div>

      <ng-template #notLoggedIn>
        <div class="chat">
          <span>Diese Unterhaltung findet nur zwischen <b>&#64;{{ user.name }}</b> statt.</span>
        </div>
      </ng-template>
    </ng-container>

  <div *ngFor="let chat of chats">
  <!-- Nachrichten anzeigen, wenn der Benutzer der Absender oder Empfänger ist -->
  <div *ngIf="chat.userId === loggedInUserId || chat.receivingUserId === loggedInUserId">
    <div class="line-date">
      <div class="line-two"></div>
      <!-- Falls timestamp ein Timestamp-Objekt ist, konvertiere es in ein lesbares Format -->
      <span class="date">{{ chat.timestamp.toDate() | date: 'short' }}</span>
      <div class="line-two"></div>
    </div>
    <div [ngClass]="{'my-message': chat.userId === loggedInUserId, 'nachrichten': chat.userId !== loggedInUserId}">
      <img [src]="user?.img" alt="User Image">
      <div class="solo-chat-completely">
        <div class="nameAndTime">
          <p>{{ chat.userName }}</p>
          <p>{{ chat.time }}</p>
        </div>
        <span>
          {{ chat.text }}
        </span>
      </div>
    </div>
  </div>
</div>
    
    
  </div>
  <app-chat></app-chat>
</div>