.solo-group {
    background-color: white;
    height: 85vh;
    width: 100%;
    border-radius: 30px;
    margin: 20px 30px;
    box-sizing: border-box;
    /* Wichtig für das Padding und die Border */
    display: flex;
    flex-direction: column;
    position: relative;
    transition: all 0.3s ease-in-out;


    .line {
        border-bottom: 4px solid rgba(0, 0, 0, 0.1);
        margin: 20px 0;
    }

    .chat-header-group {
        padding: 20px 20px 0px 30px;

        .name {
            display: inline-flex; /* Verhindert, dass die Klasse die gesamte Breite einnimmt */
            align-items: center;
            gap: 10px;
            padding: 5px 10px;
            cursor: pointer;
            
            &:hover{
                background-color: rgba(236, 238, 254, 1);
                background-color: rgba(236, 238, 254, 1);
                border-radius: 50px;
                
            }

            h2 {
                margin: 0;
            }
        }
    }

    .center {
        padding: 30px;
        font-size: 20px;
        gap: 10px;
        height: calc(100% - 330px);
        display: flex;
        flex-direction: column;
        justify-content: flex-end        
    }

    .solo-chat {
        margin: 0;
            display: flex;
            align-items: flex-end;
            gap: 8px;

        .solo-name {
            margin: 0;
            display: flex;
            align-items: flex-end;
            cursor: pointer;
            
            h2{
                margin: 0;
                font-size: 24px;
                font-weight: 700;
                &:hover{
                    color: blue;
                }
            }
        }
    }

    b{
        color: blue;
        cursor: pointer;
        font-weight: 400;
        font-size: 20px;
        &:hover{
            font-weight: 700;

        }
    }
    .chat{
        margin-top: 20px;
    }
}