.solo-group {
    background-color: white;
    height: 85vh;
    width: 100%;
    border-radius: 30px;
    margin: 20px 30px;
    box-sizing: border-box;
    /* Wichtig für das Padding und die Border */
    display: flex;
    flex-direction: column;
    position: relative;
    transition: all 0.3s ease-in-out;


    .line {
        border-bottom: 4px solid rgba(0, 0, 0, 0.1);
        margin: 20px 0;
    }

    .chat-header-group {
        padding: 20px 20px 0px 30px;


        .name {
            display: inline-flex;
            /* Verhindert, dass die Klasse die gesamte Breite einnimmt */
            align-items: center;
            gap: 10px;
            padding: 5px 10px;
            cursor: pointer;

            &:hover {
                background-color: rgba(236, 238, 254, 1);
                border-radius: 50px;

            }

            h2 {
                margin: 0;
            }

            img {
                height: 65px;
                width: 65px;
                border-radius: 50px;
                object-fit: cover;
            }
        }
    }

    .center {
        font-size: 20px;
        gap: 10px;
        height: calc(100% - 335px);
        display: flex;
        flex-direction: column;
        // justify-content: flex-end;
        box-sizing: border-box;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 4px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #888;
            /* Farbe des Scrollbalkens */
            border-radius: 2px;
            /* Ecken abrunden */
        }

        &::-webkit-scrollbar-thumb:hover {
            background-color: #555;
            /* Farbe des Scrollbalkens beim Hover */
        }
    }

    .solo-chat {
        margin: 0px 20px;
        display: flex;
        align-items: flex-end;
        gap: 8px;

        img {
            height: 65px;
            width: 65px;
            border-radius: 50px;
            object-fit: cover;
        }

        .solo-name {
            margin: 0;
            display: flex;
            align-items: flex-end;
            cursor: pointer;

            h2 {
                margin: 0;
                font-size: 24px;
                font-weight: 700;

                &:hover {
                    color: blue;
                }
            }
        }

    }

    b {
        color: blue;
        cursor: pointer;
        font-weight: 400;
        font-size: 20px;

        &:hover {
            font-weight: 700;

        }
    }

    .chat {
        margin-top: 20px;
        margin: 5px 20px;

        p {
            b {
                color: black;
                font-weight: 700;
            }
        }
    }
}

.nachrichten {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    cursor: pointer;

    img {
        height: 65px;
        width: 65px;
        border-radius: 50px;
    }

    span {
        background-color: rgba(236, 238, 254, 1);
        padding: 10px;
        width: 100%;
        border-top-right-radius: 50px;
        border-bottom-right-radius: 50px;
        border-bottom-left-radius: 50px;
    }

    &:hover {
        background-color: rgba(236, 238, 254, 1);

        span {
            background-color: white;
        }
    }
}

.nameAndTime {
    display: flex;
    gap: 30px;
}

.solo-chat-completely {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.padding20 {
    margin: 0px 20px;
}

.my-message {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    gap: 10px;
    padding: 20px;
    cursor: pointer;

    &:hover {
        background-color: rgba(236, 238, 254, 1);

        span {
            background-color: white;
        }
    }

    span {
        background-color: rgb(121, 126, 243);
        padding: 15px;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }

    img {
        height: 65px;
        width: 65px;
        border-radius: 50px;
    }

    .blink {
        animation: blinker 1s linear infinite;
      }
      
      @keyframes blinker {
        50% { opacity: 0; }
      }
}