<div class="solo-group">
  <div class="chat-header-group">
    <div class="name">
      <img src="assets/img/avatar-2.png" alt="">
      <h2 *ngIf="user$ | async as user">{{ user.name }}</h2>    </div>
  </div>

  <div class="line"></div>
  <div class="line-date">
    <div class="line-two"></div>
    <div class="line-two"></div>
  </div>
  <div class="center">
    <div class="group-news">
      <img src="assets/img/avatar-1.png" alt="">
      <div>
        <div class="chat">
          <div class="current-time">
            <h2 *ngIf="user$ | async as user">{{ user.name }}</h2>            <p> Uhr</p>
          </div>
        </div>
        <div class="answer">
          <div class="answers">2 Antworten</div>
          <div>Letzte Antwort </div>
        </div>
      </div>
    </div>
  </div>
</div>
