@import './../../../../mixins.scss';


mat-card{
    overflow-y: hidden;
}

.scroll{
    overflow-y: auto;
    padding-right: 15px;
    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(136, 136, 136, 0.3);
        border-radius: 2px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: rgba(0, 0, 255, 0.5);
    }
}

.user-profile {
    padding: 30px 30px 30px 30px;
    height: 100vh;

}

.profile-aot {
    @include d-flex($jc: space-between);
    margin-bottom: 15px;

    span {
        font-weight: bold;
        font-size: 20px;
    }

    img {
        width: 30px;
        height: 30px;
        cursor: pointer;
    }

}

.txt{
    position: absolute;
    bottom: 3px;
    left: 25px;
}

.channel-name,
.channel-description {
    animation-duration: 150ms;
    animation-fill-mode: forwards;
    position: relative;
    border-radius: 20px;
    border: 1px solid #797EF3;
    margin-bottom: 15px;
    transition: all 0.5s ease-in-out;

    input{
        bottom: -1px;
        border-radius: 30px;
        padding: 13px 10px 13px 20px;

    }
    textarea{
        top: 65px;
        left: 28px;
        resize: none;
        overflow: hidden;
        border-radius: 20px;
        padding: 15px 20px 15px 20px;


    }
    input, textarea{
        animation-duration: 250ms;
        animation-fill-mode: forwards;
        position: absolute;
        width: 100%;
        padding: 13px 10px 13px 20px;
        border: solid 1px #ADB0D9;
        cursor: pointer;
        &:hover{
            border: solid 1px #444DF2;
        }
        &:focus{
            outline: none;
        }
    }

    div:first-child {
        @include d-flex($jc: space-between);

        span {
            &:first-child {
                font-weight: bold;
            }

            &:last-child {
                color: #444DF2;
                cursor: pointer;

                &:hover {
                    font-weight: bold;
                }
            }
        }
    }

    span {
        margin-bottom: 10px;
    }
}

.channel-name{
    height: 90px;
}

.channel-description{
    padding: 25px;
    height: 230px;
}

.group-rename {
    display: flex;
    justify-content: space-between;
    padding: 15px 8px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    .save{
         color: #444DF2;
         &:hover{
            font-weight: bold;
         }
    }
    .group-name{
        font-weight: bold;
    }

}

.position-description{
    position: absolute;
    top: 20px;
    left: 20px;
}

.position-edit{
    position: absolute;
    top: 20px;
    right: 20px;
}

.description-txt{
    position: absolute;
    top: 55px;
    left: 20px;
}

.channel-name-edit {
    padding: 8px 25px;
    border-radius: 20px;
    border: 1px solid #797EF3;
    margin-bottom: 15px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    
}

.creator {
    @include d-flex($dir: column, $ai: flex-start);
    position: absolute;
    bottom: 35px;
    left: 20px;

    span {
        &:first-child {
            font-weight: bold;
            margin-bottom: 15px;
        }

        &:last-child {
            color: #444DF2;
            font-size: 20px;
        }
    }
}

.seperator {
    border: solid 1px rgba(68, 77, 242, 0.25);
    position: absolute;
    top: 115px;
    right: 25px;
    left: 25px
}





::ng-deep .border-radius .mat-mdc-dialog-container {
    box-shadow: none !important;
    --mdc-dialog-container-shape: 30px;
}

.buttons {
    margin-top: 25px;
    @include d-flex($jc: flex-end);

    span {
        color: white;
    }

    button {
        cursor: pointer;
        border-radius: 30px;
        @include widthHeight($w: 150px, $h: 33px);
        background-color: #444DF2;
        border: none;
        outline: none;
        @include d-flex();

        &:hover {
            background-color: #797EF3;
        }

        &:focus {
            outline: none;

        }
    }
}

@keyframes hide-color {
    0% {
        border: 1px solid rgba(121, 126, 243, 1);
        
	}

	100% {
		border: 1px solid rgba(121, 126, 243, 0);
	}
  }

@keyframes color{
    0%{
        border: 1px solid rgba(121, 126, 243, 0);

    }

    100%{
        border: 1px solid rgba(121, 126, 243, 1);
    }
}

.hide-color{
    animation-name: hide-color;
}
.color{
    animation-name: color;
}

@keyframes slide-left {
    0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(-20px, -10px);
	}
  }

@keyframes slide-left-back{
    0%{
        transform: translate(-20px, -10px);
    }

    100%{
        transform: translate(0, 0);
    }
}

@keyframes slide-left-d {
    0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(-20px, -20px);
	}
  }

@keyframes slide-left-back-d{
    0%{
        transform: translate(-20px, -20px);
    }

    100%{
        transform: translate(0, 0);
    }
}
@keyframes slide-left-textarea {
    0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(-28px, -30px);
	}
  }

@keyframes slide-left-back-textarea{
    0%{
        transform: translate(-28px, -30px);
    }

    100%{
        transform: translate(0, 0);
    }
}

@keyframes slide-right {
    0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(20px, -10px);
	}
  }

@keyframes slide-right-back{
    0%{
        transform: translate(20px, -10px);
    }

    100%{
        transform: translate(0, 0);
    }
}
@keyframes slide-right-d {
    0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(0px, -20px);
	}
  }

@keyframes slide-right-back-d{
    0%{
        transform: translate(0px, -20px);
    }

    100%{
        transform: translate(0, 0);
    }
}

@keyframes grow-short {
    0% {
		right: 15px;
        left: 15px;
        top: 115px;
	}

	100% {
		right: 25px;
        left: 25px;
        top: 120px;

	}
  }

@keyframes grow-long{
    0%{
        right: 25px;
        left: 25px;
        top: 120px;

    }

    100%{
        right: 15px;
        left: 15px;
        top: 115px;

    }
}
@keyframes move-paragraph {
    0% {
		transform: translate(-28px, -30px);
	}

	100% {
		transform: translate(0, 0);
	}
  }

@keyframes move-down {
    0% {
		transform: translate(0, 0);
	}

	100% {
		transform: translate(-20px, 10px);
	}
  }

@keyframes move-down-back{
    0%{
        transform: translate(-20px, 10px);
    }

    100%{
		transform: translate(0, 0);

    }
}

.animate-name{
    position: absolute;
    animation-duration: 250ms;
    animation-fill-mode: forwards;
}

.animate-seperator{
    animation-duration: 150ms;
    animation-fill-mode: forwards;
}
.animate-textarea{
    animation-duration: 75ms;
    animation-fill-mode: forwards;
}
.animate-creator, .animate-paragraph{
    animation-duration: 250ms;
    animation-fill-mode: forwards;
}

.slide-left-textarea {
    animation-name: slide-left-textarea;
}
.slide-left-back-textarea {
    animation-name: slide-left-back-textarea;
}

.position-left{
    left: 25px;
    top: 15px;
}
.position-right{
    right: 25px;
    top: 15px;

}

.slide-left{
    animation-name: slide-left;
}

.slide-left-back{
    animation-name: slide-left-back;

}
.slide-left-d{
    animation-name: slide-left-d;
}

.slide-left-back-d{
    animation-name: slide-left-back-d;

}

.slide-right{
    animation-name: slide-right;
}

.slide-right-back{
    animation-name: slide-right-back;

}

.slide-right-d{
    animation-name: slide-right-d;
}

.slide-right-back-d{
    animation-name: slide-right-back-d;

}

.grow-short{
    animation-name: grow-short;
}

.grow-long{
    animation-name: grow-long;

}

.move-paragraph{
    animation-name: move-paragraph;
}

.move-down{
    animation-name: move-down;
}

.move-down-back{
    animation-name: move-down-back;

}


::ng-deep .border-30 .mat-mdc-dialog-container {
    --mdc-dialog-container-shape: 30px;
    @media(width < 992px){
        --mdc-dialog-container-shape: 0;    
    }
}


::ng-deep .cdk-overlay-pane.mat-mdc-dialog-panel {
    max-width: none;
    width: 700px;
    height: 500px;
    @media(width < 992px){
        width: 100%;
        height: 100%;
    }
}

.desktop{
    @media(width < 992px){
        display: none;
    }
}

.mobileEdit{
    @media(width >=992px){
        display: none;
    }

    display: flex;
    justify-content: space-between;
    align-items: center;
    span{
        font-weight: bold;
    }
}

.margin{
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 10px;
}

.member-list-container{
    border: 1px solid rgba(121, 126, 243, 1 );
    border-radius: 20px;
}

.add-member{
    @include d-flex();
    margin-bottom: 10px;
    border-radius: 30px;
    padding: 10px 10px 10px 10px;
    transition: background-color ease-in 125ms;
    cursor: pointer;

    &:hover{
        background-color: #ECEEFE;
        span{
            color: #444DF2;
        }
    }
    img{
        @include widthHeight($w: 20px, $h: 20px);
        border-radius: 100%;

    }
}

.add-image{
    border-radius: 100%;
    background-color: #ECEEFE;
    @include d-flex();
    padding: 5px;
    margin-right: 10px;
}

.menu{
    height: 120px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 20px 26px;
    gap: 10px;
    .line-container{
      display: flex;
      justify-content: center;
      width: 100%;
    }
    .line{
        background-color: #D9D9D9;
        display: flex;
        justify-content: center;
        width: 62px;
        height: 6px;
        border-radius: 23px;
  
    }

    .options{
      display: flex;
      justify-content: flex-start;
      align-items: center;
      img{
        width: 25px;
        height: 25px;
      }
      gap: 10px;
    }

    span{
      font-weight: bold;
      font-size: 20px;
    }
  }

  .slide-up{
    transform: translateY(0); 
    transition: transform 0.5s ease; 
  
  
  }
  
  .slide-down{
    transform: translateY(500%); 
    transition: transform 0.5s ease;  
  }


  .profile-menu{
    width: 100%;
    position: fixed;
    z-index: 1100;
    bottom: 0;
    right: 0;
    left: 0;

  
  }

