@import './../../../../mixins.scss';

.user-profile{
    padding: 30px 30px 30px 30px;
    @media(width >992){
        height: 100%;
    }
   
}
.profile-aot{
    @include d-flex($jc: space-between);
    margin-bottom: 15px;
    
    span{
        font-weight: bold;
        font-size: 20px;
    }

    img{
        width: 30px;
        height: 30px;
        cursor: pointer;
    }
    
}

.member-list{

    display: block;
    margin-top: 20px;
    max-height: 300px;
    height: fit-content;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        width: 4px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(136, 136, 136, 0.3);
        border-radius: 2px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: rgba(0, 0, 255, 0.5);
    }
}


.member{
    cursor: pointer;

    @include d-flex($jc: flex-start);
    margin-bottom: 10px;
    border-radius: 30px;
    padding-left: 10px;
    padding-right: 10px;
    transition: background-color ease-in 125ms;
    &:hover{
        background-color: #ECEEFE;
    }
    img{
        @include widthHeight($w: 30px, $h: 30px);
        border-radius: 100%;
        margin-right: 10px;

    }
}

.image{
    position: relative;
}

.online-status{
    border-radius: 100%;
    border: solid white 2px;
    height: 10px;
    width: 10px;
    position: absolute;
    top: 20px;
    left: 22px;
}

.online{
    background-color: #92C83E;
}

.offline{
    background-color: #686868;
}

.add-member{
    @include d-flex();
    margin-bottom: 10px;
    border-radius: 30px;
    padding: 10px 10px 10px 10px;
    transition: background-color ease-in 125ms;
    cursor: pointer;

    &:hover{
        background-color: #ECEEFE;
        span{
            color: #444DF2;
        }
    }
    img{
        @include widthHeight($w: 20px, $h: 20px);
        border-radius: 100%;

    }
}

.add-image{
    border-radius: 100%;
    background-color: #ECEEFE;
    @include d-flex();
    padding: 5px;
    margin-right: 10px;
}





::ng-deep .border-radius .mat-mdc-dialog-container {
    box-shadow: none !important;
    --mdc-dialog-container-shape: 30px;
  }

  ::ng-deep .border-30-right .mat-mdc-dialog-container {
    --mdc-dialog-container-shape: 30px 0px 30px 30px;
    width: 300px;
    position: absolute;
    right: 40px;
    top: 170px;
    margin-top: 0px;
    margin-right: 0;
}

::ng-deep .mdc-dialog{
    height: auto;
    left: auto;
}

@media(width < 992px){
    .mat-mdc-card {
        border-radius: 20px ;
        box-shadow: none ; 
    }

    
}



.member-list-container{
    height: 100%;
}