.sign-up-container {
    position: relative;
    padding-bottom: 36px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
  
    min-height: 300px;
    min-width: 606px;
    h1 {
        color: #444DF2;
        font-size: 36px;
        font-weight: bold;
        font-family: nunito;
    }

    h2 {
        margin: 0 auto;
        width: 80%;
        padding-top: 12px;
        font-family: nunito;
    }
}

.go-back-container {
    background-color: transparent;
    position: absolute;
    left: 0;
    top: -5px;
    padding: 8px;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
    border-radius: 20px;

    img {
        width: 20px;
        height: 20px;
    }

    &:hover {
        cursor: pointer;
        border-radius: 20px;
        background-color: #ECEEFE;
    }

    &:hover img {
        filter: invert(32%) sepia(68%) saturate(1312%) hue-rotate(208deg) brightness(99%) contrast(103%);
        /* Filter nur auf das Bild anwenden */
    }
}

.error-message {
    margin: 0 auto;
    display: flex;
    width: 60%;
    color: red;
    font-size: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
  }


.input-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

form{
   
    display: flex;
    flex-direction: column;
}

input:not([type="checkbox"]) {
    padding-left: 50px !important;
    padding: 12px;
    width: 60%;
    border: 1px solid transparent;
    transition: border-color 0.3s ease;
    border-radius: 25px;
    background-color: #ECEEFE;

    &:hover {
        cursor: pointer;
        border-color: black;
    }
}







.button {
    position: absolute;
    right: 5%;
    bottom: 0;
    font-size: 18px;
    border-radius: 25px;
    padding: 12px;
    background-color: #444DF2;
    color: white;
    border: none;

    &:hover {
        cursor: pointer;
        background-color: #797EF3;
    }
}

button:disabled {
    background-color: #cccccc; /* Ein helleres Grau für den deaktivierten Zustand */
    color: #666666; /* Angepasste Textfarbe */
    cursor: not-allowed; /* Verhindert den Cursor-Hover-Effekt */
    opacity: 0.6; /* Reduziert die Opazität, um einen "graueren" Look zu erzeugen */
    border-color: #999999; /* Optional: Passe die Rahmenfarbe an */
}
.button:disabled:hover {
    background-color: #cccccc; /* Bleibt grau */
    color: #666666; /* Bleibt grau */
    border-color: #999999; /* Bleibt wie eingestellt */
}


@media screen and (max-width:992px) {
    input:not([type="checkbox"]) {
        width: 100% !important;
        padding-left: 37% !important;
    }
    h1{
        padding-left: 40px;
        padding-right: 40px;
    }

    .sign-up-container{
        min-width: auto; 
    }

    .error-message {
        margin: 0 !important;
        width: 100%!important;
    }


    .checkbox-container {
        margin: 0!important;
        width: 100%!important;
    }
}

@media screen and (max-width:500px){
    input:not([type="checkbox"]) {
      
        padding-left: 36px !important;
    }

    .error-message{
        font-size: 10px;
    }
}

@media screen and (max-width:450px){
    h1{
        font-size: 30px!important;
        padding-left: 32px;
        padding-right: 32px;
    }
}

