<div class="sign-up-container">
    <button [routerLink]="['/reset-password']" class="go-back-container">
      <img class="go-back" src="assets/img/arrow_back.png" alt="Go back">
    </button>
    <h1>Passwort zurücksetzen</h1>
    <form (ngSubmit)="resetPassword()" #resetPasswordForm="ngForm">
      <div class="input-container">
        <input 
          [(ngModel)]="newPassword" 
          name="newPassword" 
          type="password" 
          placeholder="Neues Passwort" 
          required 
        />
      </div>
      <div class="input-container">
        <input 
          [(ngModel)]="confirmPassword" 
          name="confirmPassword" 
          type="password" 
          placeholder="Neues Passwort bestätigen" 
          required 
        />
      </div>
      <button 
        type="submit" 
        [disabled]="!resetPasswordForm.form.valid || newPassword !== confirmPassword" 
        class="button"
      >
        Passwort ändern
      </button>
    </form>
  </div>
  