<div class="sign-up-container">
    <button  [routerLink]="['/reset-password']" class="go-back-container">
        <img class="go-back" src="assets/img/arrow_back.png" alt="Go back">
    </button>
    <h1>Passwort zurücksetzen</h1>
    <div class="input-container">
        <input  type="text" placeholder="neues Passwort">
    </div>
    <div class="input-container">
        <input  type="text" placeholder="neues Passwort bestätigen">
    </div>
   

    
    <button  [routerLink]="['/']"  class="button">Passwort ändern</button>
</div>
