<div class="create-avatar-container">
    <button [routerLink]="['/sign-up']" class="go-back-container">
        <img class="go-back" src="assets/img/arrow_back.png" alt="Go back">
    </button>
    <h1>Wähle deinen Avatar</h1>
    <div class="centered-avatar-wrapper">
        <div class="my-avatar-container">
            <img [src]="selectedAvatar" class="my-avatar" src="assets/img/person.png" alt="">
        </div>
    </div>

    <h2 >{{user.name}}</h2>
    <div class="select-avatar">
        <span>Aus der Liste wählen</span>
        <div class="avatar-img">
            <img *ngFor="let avatar of avatars" [src]="avatar" alt="Avatar"
            (click)="selectAvatar(avatar)">
        </div>
        <!-- <div class="own-img-container">
            <input type="file" (click)="uploadFile()" (change)="onFileSelected($event)"/>
            <button >Datei hochladen</button>
        </div> -->
      
        <div class="own-img-container">
            <span>eigenes Bild verwenden</span>
            <label for="file-upload" class="custom-file-upload">
                Datei hochladen
            </label>
           
            <input id="file-upload" type="file" (change)="onFileSelected($event)" />
            
        </div>
       
    </div>



    <button [routerLink]="['/']" class="button">Weiter</button>
</div>