.create-avatar-container {
    position: relative;
    padding-bottom: 36px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;

    gap: 24px;

    h1 {
        color: #444DF2;
        font-size: 36px;
        font-weight: bold;
        font-family: nunito;
    }

    h2 {
        font-size: 28px;
        font-weight: bold;
        margin: 0 auto;
        width: 80%;
        padding-top: 12px;
        font-family: nunito;
    }
}

.go-back-container {
    background-color: transparent;
    position: absolute;
    left: 0;
    top: -5px;
    padding: 8px;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
    border-radius: 20px;

    img {
        width: 20px;
        height: 20px;
    }

    &:hover {
        cursor: pointer;
        border-radius: 20px;
        background-color: #ECEEFE;
    }

    &:hover img {
        filter: invert(32%) sepia(68%) saturate(1312%) hue-rotate(208deg) brightness(99%) contrast(103%);
    }
}

.centered-avatar-wrapper {
    display: flex;
<<<<<<< HEAD
    /* Macht Flexbox-Layout möglich */
    justify-content: center;
    /* Zentriert den Inhalt horizontal */
=======
    justify-content: center; 
>>>>>>> c3256d92292e6dee47a5170e793f7dd2ca2d431c
}


.icon {
    position: absolute;
    left: 15%;
}



.button {
    position: absolute;
    right: 5%;
    bottom: 0;
    font-size: 24px;
    border-radius: 25px;
    padding: 12px;
    background-color: #444DF2;
    color: white;
    border: none;

    &:hover {
        cursor: pointer;
        background-color: #797EF3;
    }
}

.my-avatar-container {
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: #797EF3;
<<<<<<< HEAD
    width: 120px;
    /* Größe des Containers festlegen */
    height: 120px;
    /* Größe des Containers festlegen */
    border-radius: 50%;
    transition: box-shadow 0.3s ease;
    overflow: hidden;

    /* Verhindert, dass das Bild über die Grenzen hinausgeht */
=======
    width: 120px; 
    height: 120px; 
    border-radius: 50%;
    transition: box-shadow 0.3s ease;
    overflow: hidden; 
>>>>>>> c3256d92292e6dee47a5170e793f7dd2ca2d431c
    &:hover {
        outline: 6px solid lightgray;
        cursor: pointer;
    }
}

.my-avatar {
    display: flex;
    align-items: center;
    width: 60%;
    height: 60%;
<<<<<<< HEAD
    object-fit: cover;
    /* Passt das Bild an, damit es vollständig angezeigt wird */

=======
    object-fit: cover; 
   
>>>>>>> c3256d92292e6dee47a5170e793f7dd2ca2d431c
}

.select-avatar {
    text-align: start;
    padding-left: 80px;
    padding-right: 80px;
}

span {
    font-size: 20px;
}

.avatar-img {
    padding-top: 24px;

    &:hover {
        cursor: pointer;

    }
     img:first-child {
        margin-left: 0;
    }
    img {
        width: 60px;
        height: 60px;
        margin-left: 8px;
        border-radius: 50%;

        &:hover {
            scale: (1.2);
        }
    }
}


.own-img-container {
    padding-top: 24px;
    padding-bottom: 58px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    span {
        padding-right: 8px;
    }
}

.custom-file-upload {
    padding: 12px 20px;
    gap: 10px;
    border-radius: 25px;
    border: 1px solid #797EF3;
    font-size: 18px;
    font-weight: 700;
    line-height: 24.55px;
    text-align: center;
    background-color: #fff;
    color: #444DF2;
    transition: ease-in-out 125ms;
    display: inline-block;
    cursor: pointer;
}

.custom-file-upload:hover {
    background-color: #444DF2;
    color: white;
}

input[type="file"] {
<<<<<<< HEAD
    display: none;
    /* Versteckt das Datei-Input-Element */
}

button:disabled {
    background-color: #cccccc;
    /* Ein helleres Grau für den deaktivierten Zustand */
    color: #666666;
    /* Angepasste Textfarbe */
    cursor: not-allowed;
    /* Verhindert den Cursor-Hover-Effekt */
    opacity: 0.6;
    /* Reduziert die Opazität, um einen "graueren" Look zu erzeugen */
    border-color: #999999;
    /* Optional: Passe die Rahmenfarbe an */
=======
    display: none; 
}

button:disabled {
    background-color: #cccccc; 
    color: #666666; 
    cursor: not-allowed; 
    opacity: 0.6; 
    border-color: #999999; 
}
.button:disabled:hover {
    cursor: not-allowed;
    background-color: #cccccc; 
    color: #666666; 
    border-color: #999999; 
>>>>>>> c3256d92292e6dee47a5170e793f7dd2ca2d431c
}

.button:disabled:hover {
    cursor: not-allowed;
    background-color: #cccccc;
    /* Bleibt grau */
    color: #666666;
    /* Bleibt grau */
    border-color: #999999;
    /* Bleibt wie eingestellt */
}

@media screen and (max-width:992px) {
    .select-avatar {
        padding-left: 0;
        padding-right: 0;
    }

    h1 {
        padding-left: 42px;
        padding-right: 42px;
    }

    .my-avatar {
        width: 100%;
        height: 100%;
    }

    .own-img-container {
        justify-content: start;
    }

    .own-img-container span {
        padding-right: 32px;
    }

    .avatar-img img {
        width: 80px;
        height: 80px;
    }

    .avatar-img {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width:650px) {
    .avatar-img img {
        width: 60px;
        height: 60px;
    }
}

@media screen and (max-width:550px) {
    .own-img-container {
        flex-direction: column;
        align-items: normal;
    }

    .own-img-container span {
        padding-bottom: 24px;
    }
}

@media screen and (max-width:500px) {
    .avatar-img img {
        width: 35px;
        height: 35px;
    }

    .button{
        font-size: 20px;
    }
}

@media screen and (max-width:410px) {
    h1 {
        font-size: 25px!important;
    }
}