.create-avatar-container {
    position: relative;
    padding-bottom: 36px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;

    gap: 24px;

    h1 {
        color: #444DF2;
        font-size: 36px;
        font-weight: bold;
        font-family: nunito;
    }

    h2 {
        font-size: 28px;
        font-weight: bold;
        margin: 0 auto;
        width: 80%;
        padding-top: 12px;
        font-family: nunito;
    }
}



.go-back-container {
    background-color: transparent;
    position: absolute;
    left: 0;
    top: -5px;
    padding: 8px;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
    border-radius: 20px;

    img {
        width: 20px;
        height: 20px;
    }

    &:hover {
        cursor: pointer;
        border-radius: 20px;
        background-color: #ECEEFE;
    }

    &:hover img {
        filter: invert(32%) sepia(68%) saturate(1312%) hue-rotate(208deg) brightness(99%) contrast(103%);
    }
}

.centered-avatar-wrapper {
    display: flex;
    justify-content: center; 
}


.icon {
    position: absolute;
    left: 15%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(100px); /* Optional: Ein leichter Aufwärtsbewegungseffekt */
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.info-for-user {
    position: absolute;
    top: 50%;
    left: 35%;
    font-size: 24px;
    border-radius: 25px 25px 0 25px; /* Runde obere und linke Ecken */
    padding: 8px;
    background-color: #444DF2;
    color: white;
    z-index: 1; /* Damit die Sprechblase über anderen Elementen liegt */
    opacity: 1; /* Immer sichtbar */
    animation: fadeIn 1s ease-in; /* Füge die FadeIn-Animation hinzu */
}





.button {
    position: absolute;
    right: 5%;
    bottom: 0;
    font-size: 20px;
    border-radius: 25px;
    padding: 8px;
    background-color: #444DF2;
    color: white;
    border: none;

    &:hover {
        cursor: pointer;
        background-color: #797EF3;
    }
}

.my-avatar-container {
    justify-content: center;
    display: flex;
    align-items: center;
    // background-color: #797EF3;
    // width: 120px; 
    // height: 120px; 
    border-radius: 100%;
    transition: box-shadow 0.3s ease;
    overflow: hidden; 
    &:hover {
        outline: 6px solid lightgray;
        cursor: pointer;
    }
}

.my-avatar {
    display: flex;
    align-items: center;
    width: 150px;
    height: 150px;
    object-fit: cover; 
   
}

.select-avatar {
    text-align: start;
    padding-left: 80px;
    padding-right: 80px;
}

span {
    font-size: 20px;
}

.avatar-img {
    padding-top: 24px;

    &:hover {
        cursor: pointer;

    }
     img:first-child {
        margin-left: 0;
    }
    img {
        width: 60px;
        height: 60px;
        margin-left: 8px;
        border-radius: 50%;

        &:hover {
            scale: (1.2);
        }
    }
}


.own-img-container {
    padding-top: 24px;
    padding-bottom: 58px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    span {
        padding-right: 8px;
    }
}

.custom-file-upload {
    padding: 12px 20px;
    gap: 10px;
    border-radius: 25px;
    border: 1px solid #797EF3;
    font-size: 18px;
    font-weight: 700;
    line-height: 24.55px;
    text-align: center;
    background-color: #fff;
    color: #444DF2;
    transition: ease-in-out 125ms;
    display: inline-block;
    cursor: pointer;
}

.custom-file-upload:hover {
    background-color: #444DF2;
    color: white;
}

input[type="file"] {
    display: none; 
}

button:disabled {
    background-color: #cccccc; 
    color: #666666; 
    cursor: not-allowed!important; 
    opacity: 0.6; 
    border-color: #999999; 
}
.button:disabled:hover {
    cursor: not-allowed;
    background-color: #cccccc; 
    color: #666666; 
    border-color: #999999; 
}

.button:disabled:hover {
    cursor: not-allowed;
    background-color: #cccccc;
    /* Bleibt grau */
    color: #666666;
    /* Bleibt grau */
    border-color: #999999;
    /* Bleibt wie eingestellt */
}

@media screen and (max-width:992px) {
    .select-avatar {
        padding-left: 0;
        padding-right: 0;
    }

    h1 {
        padding-left: 42px;
        padding-right: 42px;
    }

    .my-avatar {
        width: 100%;
        height: 100%;
    }

    .own-img-container {
        justify-content: start;
    }

    .own-img-container span {
        padding-right: 32px;
    }

    .avatar-img img {
        width: 80px;
        height: 80px;
    }

    .avatar-img {
        display: flex;
        justify-content: space-between;
    }
}

@media screen and (max-width:650px) {
    .avatar-img img {
        width: 60px;
        height: 60px;
    }
}

@media screen and (max-width:550px) {
    .own-img-container {
        flex-direction: column;
        align-items: normal;
    }

    .own-img-container span {
        padding-bottom: 24px;
    }
}

@media screen and (max-width:500px) {
    .avatar-img img {
        width: 35px;
        height: 35px;
    }

    .button{
        font-size: 20px;
    }
}

@media screen and (max-width:410px) {
    h1 {
        font-size: 25px!important;
    }
}