<mat-card class="user-profile">
    <div class="profile-aot">
        <span class="profile-txt" >Dein Profil bearbeiten</span>
        <img (click)="closeDialog()" class="close" [src]="imgSrc"
        (mouseover)="imgSrc = 'assets/img/close_hover.svg'"
        (mouseout)="imgSrc = 'assets/img/close_default.svg'" 
        alt="">
    </div>
    <div class="avatar">
        <img 
        src="{{user.img}}" alt="">
    </div>
    <div class="email">
        <img src="assets/img/account_circle_default.png" alt="">
        <div>
            <span>Vollständiger Name</span>
        </div>
    </div>
    <form #form="ngForm" (ngSubmit)="saveData()">
        <input name="name"  [(ngModel)]="name" placeholder="{{user.name}}" type="text">
        <div class="email">
            <img src="assets/img/mail-profile.png" alt="">
            <div>
                <span>E-Mail-Adresse</span>
            </div>
        </div>
        <input name="email"  (input)="markAsTouched(emailControl)"  (ngModelChange)="checkEmailName()"  [(ngModel)]="email" #emailControl="ngModel" placeholder="{{user.email}}" type="email">
        <div *ngIf="emailControl.invalid && (emailControl.touched || emailControl.dirty) || emailInvalid" class="invalid-feedback">
            <span>Bitte geben Sie eine gültige E-Mail-Adresse ein!</span>
        </div>
        <div class="buttons">
            <button (click)="closeDialog()">Abbrechen</button>
            <button [ngClass]="emailInvalid || !form.valid ? 'invalid' : 'valid'"  [disabled]="!form.valid || emailInvalid" type="submit">Speichern</button>
        </div>
    </form>
</mat-card>
