<mat-card class="user-profile">
    <div class="profile-aot">
        <span class="profile-txt" >Dein Profil bearbeiten</span>
        <img (click)="closeDialog()" class="close" [src]="imgSrc"
        (mouseover)="imgSrc = 'assets/img/close_hover.svg'"
        (mouseout)="imgSrc = 'assets/img/close_default.svg'" 
        alt="">
    </div>
    <div class="avatar">
        <img 
        src="{{user.img}}" alt="">
    </div>
    <div class="email">
        <img src="assets/img/account_circle_default.png" alt="">
        <div>
            <span>Vollständiger Name</span>
        </div>
    </div>
    <input [(ngModel)]="name" placeholder="{{user.name}}" type="text">
    <div class="email">
        <img src="assets/img/mail-profile.png" alt="">
        <div>
            <span>E-Mail-Adresse</span>
        </div>
    </div>
    <input [(ngModel)]="email" placeholder="{{user.email}}" type="text">
    <div class="buttons">
        <button (click)="closeDialog()">Abbrechen</button>
        <button (click)="saveData()">Speichern</button>
    </div>
</mat-card>
