<mat-card class="user-profile">
    <div class="profile-aot">
        <span class="profile-txt" >Profil</span>
        <img (click)="closeDialog()" class="close" [src]="imgSrc"
        (mouseover)="imgSrc = 'assets/img/close_hover.svg'"
        (mouseout)="imgSrc = 'assets/img/close_default.svg'" 
        alt="">
    </div>
    <div class="avatar">
        <img 
        src="{{user.img}}" alt="">
    </div>
    <div class="user-txt">
        <span>{{user.name}}</span>
        <span (click)="openDialog()">Bearbeiten</span>
    </div>
    <div class="active">
        <div></div>
        <span>Aktive</span>
    </div>
    <div class="email">
        <img src="assets/img/mail-profile.png" alt="">
        <div>
            <span>E-Mail-Adresse</span>
            <span>{{user.email}}</span>
        </div>
    </div>
</mat-card>
