

<div class="sign-up-container">
    <button [routerLink]="['/']" class="go-back-container">
        <img class="go-back" src="assets/img/arrow_back.svg" alt="Go back">
    </button>
    <h1>Konto erstellen</h1>
    <h2>Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues DABubble-Konto.</h2>
    <form #signUpForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="input-container">
          <img class="icon" src="assets/img/person_filled.svg" alt="">
          <input
            [(ngModel)]="user.name"
            name="name"
            #nameInput="ngModel"
            type="text"
            placeholder="Name und Nachname"
            minlength="6"
            required
          />
         
        </div>
        <div *ngIf="nameInput.invalid &&  nameInput.touched" class="error-message">
            Name muss mindestens 6 Zeichen lang sein.
          </div>
        <div class="input-container">
          <img class="icon" src="assets/img/mail.svg" alt="">
          <input
            [(ngModel)]="user.email"
            name="email"               
            type="email"
            pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
            placeholder="beispielname@email.com"
            required
            #emailInput="ngModel"
          />
        </div>
        <div *ngIf="emailInput.invalid && emailInput.touched" class="error-message">
            Bitte eine gültige E-Mail-Adresse eingeben.
          </div>
          <div *ngIf="emailExistsError" class="error-message">
            Diese E-Mail-Adresse wird bereits verwendet.
          </div>
        <div class="input-container">
          <img class="icon" src="assets/img/lock.svg" alt="">
          <input
            [(ngModel)]="user.password"
            name="password"            
            type="password"
            minlength="8"
            placeholder="Passwort"
            required
            #passwordInput="ngModel"
          />
         
        </div>
        <div *ngIf="passwordInput.invalid &&  passwordInput.touched" class="error-message">
            Passwort muss mindestens 8 Zeichen lang sein.
          </div>
        <div class="checkbox-container">
          <input
            [(ngModel)]="isPrivacyChecked"
            name="privacy"
            type="checkbox"
            id="checkbox"
            required
            #privacyInput="ngModel"
          />
          <label for="checkbox">Ich stimme der <span [routerLink]="['/data-protection']" class="apolicy">Datenschutzerklärung</span> zu.</label>
          <div *ngIf="privacyInput.invalid && (privacyInput.dirty || privacyInput.touched)" class="error-message">
            Sie müssen der Datenschutzerklärung zustimmen.
          </div>
        </div>
      
        <button
          type="submit"
          [disabled]="!isFormValid()"
          class="button"
        >
          Weiter
        </button>
      </form>
      
</div>