.sign-up-container {
    position: relative;
    padding-bottom: 36px;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;

    h1 {
        color: #444DF2;
        font-size: 36px;
        font-weight: bold;
        font-family: nunito;
    }



    h2 {
        margin: 0 auto;
        width: 80%;
        padding-top: 12px;
        font-family: nunito;
    }
}

.error-message {
    margin: 0 auto;
    display: flex;
    width: 80%;
    color: red;
    font-size: 12px;
    padding-top: 4px;
    padding-bottom: 4px;
}

form {
    display: flex;
    flex-direction: column;

}

.go-back-container {
    background-color: transparent;
    position: absolute;
    left: 0;
    top: -5px;
    padding: 8px;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
    border-radius: 20px;

    img {
        width: 20px;
        height: 20px;
    }

    &:hover {
        cursor: pointer;
        border-radius: 20px;
        background-color: #ECEEFE;
    }

    &:hover img {
        filter: invert(32%) sepia(68%) saturate(1312%) hue-rotate(208deg) brightness(99%) contrast(103%);
        /* Filter nur auf das Bild anwenden */
    }
}

.input-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

input:not([type="checkbox"]) {
    padding-left: 100px !important;
    padding: 12px;
    width: 80%;
    border: 1px solid transparent;
    transition: border-color 0.3s ease;
    border-radius: 25px;
    background-color: #ECEEFE;

    &:hover {
        cursor: pointer;
        border-color: black;
    }
}

.hidden {
    display: none;
}

.icon,
.icon-focus {
    position: absolute;
    left: 15%;
    /* Beispielhafte Positionierung, kannst du anpassen */
    transition: opacity 0.3s ease;
    /* Sanfter Übergang für das Umschalten */
}

.icon {
    position: absolute;
    left: 15%;
    background-color: #ECEEFE;
    transition: filter 0.3s ease;
}

.icon-focus {
    position: absolute;
    left: 15.7%;
    background-color: #ECEEFE;
    transition: filter 0.3s ease;
}

input::placeholder {
    font-size: 16px;
}

.button {
    position: absolute;
    right: 0;
    bottom: 0;
    font-size: 24px;
    border-radius: 25px;
    padding: 12px;
    background-color: #444DF2;
    color: white;
    border: none;

    &:hover {
        cursor: pointer;
        background-color: #797EF3;
    }
}

button:disabled {
    background-color: #cccccc;
    /* Ein helleres Grau für den deaktivierten Zustand */
    color: #666666;
    /* Angepasste Textfarbe */
    cursor: not-allowed;
    /* Verhindert den Cursor-Hover-Effekt */
    opacity: 0.6;
    /* Reduziert die Opazität, um einen "graueren" Look zu erzeugen */
    border-color: #999999;
    /* Optional: Passe die Rahmenfarbe an */
}

.button:disabled:hover {
    background-color: #cccccc;
    /* Bleibt grau */
    color: #666666;
    /* Bleibt grau */
    border-color: #999999;
    /* Bleibt wie eingestellt */
}



.icon-focused {
    filter: brightness(0.5);
}

.checkbox-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 16px;
    text-align: start;
    width: 80%;
    margin: 0 auto;
    position: relative;

}

/* Versteckt die eigentliche Checkbox */
.checkbox-container input[type="checkbox"] {
    display: none;
}

/* Erstellt einen benutzerdefinierten Stil für die Checkbox */
.checkbox-container label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    font-size: 18px;
}

/* Stil für das benutzerdefinierte Checkbox-Feld */
.checkbox-container label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 14px;
    height: 14px;
    border: 2px solid #444DF2;
    border-radius: 4px;
    background-color: #fff;
    transition: background-color 0.3s ease;
}

/* Hintergrundfarbe beim Hover über die Checkbox */
.checkbox-container label:hover::before {
    background-color: #ECEEFE;
}

/* Hintergrundfarbe und Rahmenfarbe beim Aktivieren der Checkbox */
.checkbox-container input[type="checkbox"]:checked+label::before {
    background-color: #444DF2;
    border-color: #444DF2;
}

/* Haken für die ausgewählte Checkbox */
.checkbox-container input[type="checkbox"]:checked+label::after {
    content: '';
    position: absolute;
    left: 5px;
    top: -1px;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.apolicy {
    color: #444DF2;

    &:hover {
        font-weight: bold;
    }
}

@media screen and (max-width:992px) {
    input:not([type="checkbox"]) {
        width: 100% !important;
        padding-left: 37% !important;
    }

    .checkbox-container {
        margin: 0!important;
        width: 100%!important;
    }

    h2 {
        margin: 0 !important;
        width: 100% !important;
    }

    .error-message {
        margin: 0 !important;
        width: 100%!important;
    }

    .icon {
        left: 27% !important;
    }

    .icon-focus {
        left: 27% !important;

    }

    @media screen and (max-width:650px) {
        input:not([type="checkbox"]) {
            padding-left: 22% !important;
        }

        .icon {
            left: 10% !important;
        }

        .icon-focus {
            left: 10% !important;

        }

        h2 {
            font-size: 16px !important;
        }
    }

    @media screen and (max-width:500px) {
        h2 {
            font-size: 14px !important;
        }
        .checkbox-container label{
       
            font-size: 12px !important;
        }
    }

    @media screen and (max-width:400px) {
        h1 {
            font-size: 25px !important;
        }

        h2 {
            font-size: 12px !important;
        }
    }
}