<div class="sign-up-container">

    <div class="go-back-container">
        <img class="go-back" src="assets/arrow_back.png" alt="Go back">
    </div>


    <h1>Konto erstellen</h1>

    <h2>Mit deinem Namen und deiner E-Mail-Adresse hast du dein neues DABubble-Konto.</h2>
    <div class="input-container">
        <img class="icon" src="assets/lock.png" alt="">
        <input type="text" placeholder="Name und Nachname">
    </div>
    <div class="input-container">
        <img class="icon" src="assets/lock.png" alt="">
        <input type="text" placeholder="beispielname@email.com">
    </div>
    <div class="input-container">
        <img class="icon" src="assets/lock.png" alt="">
        <input type="text" placeholder="Passwort">
    </div>

    <div class="checkbox-container">
        <input type="checkbox" id="checkbox">
        <label for="checkbox">Ich stimme der Datenschutzerklärung zu.</label>
    </div>
    <button>Weiter</button>
</div>