@import './../../../mixins.scss';

.logo {
    display: flex;
    align-items: center;
    span {
        padding-left: 16px;
        font-size: 24px;
        font-weight: bold;

        @media (width < 400px) {
            font-size: 20px;;
        }
    }
    img{
        @include widthHeight($w: 70px, $h: 70px);

        @media (width < 400px) {
            @include widthHeight($w: 50px, $h: 50px);
        }
    }
}

.navbar{
    // @include d-flex($jc: space-between);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px 0 30px;
    background-color: #ECEEFE;
  }

.profile{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;

    &:hover span{
        padding-top: 1px;
        color: #535AF1;
    }

    mat-menu{
        position: absolute;
        right: 0;
        background-color: #92C83E;
        font-weight: bold;
        font-size: 50px;
    }

    img:first-child{
        border-radius: 100%;
        height: 50px;
        width: 50px;
    }

    span{
        font-size: 24px;
        font-weight: bold;
        padding-right: 10px;
        transition: color ease-in 125ms;

        @media (width < 992px) {
            display: none;
        }
    }
}

.image{
    position: relative;
}

.online-status{
    border-radius: 100%;
    background-color: #92C83E;
    border: solid white 2px;
    height: 14px;
    width: 14px;
    position: absolute;
    top: 38px;
    left: 35px;
}

.search-container {
    flex: 1;
    margin: 0 1rem;
  }
  
  
//   .search-bar input {
//     padding: 0.5rem;
//     border: 1px solid #ccc;
//     border-radius: 4px 0 0 4px;
//     outline: none;
//   }

.search-bar{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    mat-icon{
        position: absolute;
        right: 75px;
        transform: scale(1.2);
        @media (width < 992px) {
            display: none;
        }
    }

    input{
        margin-left: 50px;
        margin-right: 50px;
        padding: 15px 0 15px 20px;
        flex: 1;
        border: none;
        outline: none;
        border-radius: 42px;

        @media (width < 992px) {
            display: none;
        }
    }
    ::placeholder{
        font-size: 20px;
    }

    
    
}

mat-option{

    img{
        width: 40px;
        height: 40px;
        border-radius: 100%;
        margin-right: 15px;
        margin-left: 15px;
    }

    .channel-tag{
        font-weight: bold;
        font-size: 24px;
        margin-right: 15px;
        margin-left: 15px;
    }
}

::ng-deep .mdc-list-item__primary-text{
    display: flex;
    align-items: center;
}


.icon{
    width: 30px;
    height: 30px;
    margin-left: 10px;

    @media (width < 992px) {
        display: none;
    }
}

.mat-mdc-optgroup{
    font-size: 20px;
    font-weight: bold;

}

::ng-deep .mat-mdc-optgroup-label{
    margin: 10px 0 10px 20px;
}


  ::ng-deep .profile-menu .mat-mdc-dialog-container {
    box-shadow: none !important;/* Removes the box shadow */
    --mdc-dialog-container-shape: 30px 0px 30px 30px;
  }
  
  
//   ::ng-deep.cdk-overlay-pane{
//     transform: translate(100px, 20px);
//   }


.mat-mdc-optgroup .mat-mdc-option{
    padding: 0;
}

