<nav class="navbar">
    <div class="logo">
      <img src="assets/img/Logo.png" alt="">
      <span>DABubble</span>
    </div>
    <div class="search-container">
        <form class="search-bar">
          <input type="text" placeholder="Code learning durchsuchen">
          <mat-icon>search</mat-icon>
        </form>
      </div>
    <div (mouseover)="imgSrc = 'assets/img/keyboard_arrow_down_v3.png'"
    (mouseout)="imgSrc = 'assets/img/keyboard_arrow_down_v2.png'" (click)="openDialog()" class="profile">
        <span>{{user.name}}</span>
        @if(user.img){
          <div class="image">
              <img src="{{user.img}}" alt="">
              <div class="online-status"></div>
          </div>
        }
        <img class="icon" [src]="imgSrc">
        
    </div>
</nav>




