<nav class="navbar">
    <div class="logo">
      <img class="arrow" (click)="returnToDevSpace()" *ngIf="hasEnteredChannel" src="assets/img/arrow_back_mobile.svg" alt="">
      <div class="logo-container">
      </div>
      <img class="logo-img" [ngStyle]="!hasEnteredChannel ? {'margin-left': '15px'} : {}" [src]="isMobile()" alt="">
      @if(hasEnteredChannel){
        <span>DevSpace</span>
      } @else {
        <span>DABubble</span>
      }
    </div>
      <app-search-bar *ngIf="screenWidth >= 992"></app-search-bar>
    <div (mouseover)="imgSrc = 'assets/img/keyboard_arrow_down_v3.png'"
    (mouseout)="imgSrc = 'assets/img/keyboard_arrow_down_v2.png'" (click)="openProfileMenu()" class="profile">
        <span>{{user.name}}</span>
        @if (user.img){
          <div class="image">
              <img src="{{user.img}}" alt="">
              <div class="online-status" [ngClass]="!userOnline ? 'offline' : 'online'"></div>
          </div>
        }
        <img class="icon" [src]="imgSrc">
        
    </div>
</nav>




