<!-- group-answer.component.html -->
<div class="main"  *ngIf="(userService.threadOpenStatus$ | async)" 
[ngClass]="{'collapsed': !userService.showGroupAnswer}">
  <div class="header">
    <h1>Thread</h1>
    <span># {{ groupName }}</span>
    <img (click)="closeAnswer()"
     [src]="imgClose"
     (mouseover)="imgClose = 'assets/img/close_hover.svg'" 
    (mouseleave)="imgClose = 'assets/img/close_default.svg'"
     alt="" >
  </div>
  <div class="line"></div>
  <div class="commplet-chat" #scrollerContainer>
    <div [ngClass]="{'my-message': userName === loggedInUserName, 'complete-container': userName !== loggedInUserName}">
      <img src="assets/img/avatar-1.png" alt="">
      <div class="messages">
        <div class="name-and-time">
          <div class="name">{{ userName }}</div>
          <div class="time">{{ time }} Uhr</div>
        </div>
        <div class="massage">{{ messageText }}</div>
      </div>
    </div>
    <div class="answers-and-line">
      <!-- <div > {{ answerChats.length }} Antworten</div> -->
      <ng-container *ngIf="answerChats.length === 0">Antworten</ng-container>
                                        <ng-container *ngIf="answerChats.length === 1">1 Antwort</ng-container>
                                        <ng-container *ngIf="answerChats.length > 1"> Antworten </ng-container>
      <div class="line-two"></div>
    </div>
    <div *ngFor="let chat of answerChats" [ngClass]="{'my-message': chat.userName === loggedInUserName, 'complete-container': chat.userName !== loggedInUserName}">
      <img src="assets/img/avatar-1.png" alt="">
      <div class="messages">
        <div class="name-and-time">
          <div class="name">{{ chat.userName || 'Unbekannter Benutzer' }}</div>
          <div class="time">{{ chat.time }} Uhr</div>
        </div>
        <div class="massage">{{ chat.text }}</div>
      </div>
    </div>
  </div>
  <app-chat [groupId]="groupId" [answerId]="answerId"></app-chat>
</div>