.main {
    height: calc(100vh - 131px);
    width: 400px;
    overflow-x: hidden;

    @media(width < 1100px) {
        width: 100%;
    }

    @media(width < 992px) {
        width: 100%;
    }

    @media(width < 992px) {
        height: calc(100vh - 63px);
        border-radius: 0;
        margin: 0;
    }

    background-color: white;
    margin: 20px 20px 20px 0px;
    border-radius: 30px;
    position: relative;
    transition: all 0.3s ease-in-out;

    &.collapsed {
        width: 0; // Setze die Breite auf 0
        padding-left: 0; // Optional: Entferne den Padding
        padding-right: 0; // Optional: Entferne den Padding
        opacity: 0; // Optional: Setze die Opazität auf 0
        transition: width 0.3s ease-in-out; // Füge eine Übergangszeit für die Breite hinzu
    }

    .commplet-chat {
        height: calc(100% - 315px);
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 4px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #888;
            /* Farbe des Scrollbalkens */
            border-radius: 2px;
            /* Ecken abrunden */
        }

        &::-webkit-scrollbar-thumb:hover {
            background-color: #555;
            /* Farbe des Scrollbalkens beim Hover */
        }
    }
}

.header {
    height: 95px;
    padding: 20px 30px 0px 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;

    img {
        height: 40px;
        width: 40px;
        position: absolute;
        top: 35px;
        right: 20px;
        cursor: pointer;

        &:hover {
            background-color: rgba(236, 238, 254, 1);

        }

    }

    h1 {
        margin: 0;
    }

    span {
        color: blue;
        cursor: pointer;
        font-size: 17px;
    }
}

.line {
    border-bottom: 4px solid rgba(0, 0, 0, 0.1);
    margin: 20px 0;
}

.message-content {
    display: flex;
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: rgba(236, 238, 254, 1);
    }


}

.messages {
    padding: 0px 20px 0px 20px;
}

.massage {
    padding: 10px;
    background-color: rgba(236, 238, 254, 1);
    border-top-left-radius: 0px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    transition: background-color 0.3s ease;
    font-size: 18px;
    width: max-content;

    .message-content:hover & {
        background-color: white;
    }


}

.name-and-time {
    display: flex;
    gap: 20px;


    .name {
        font-weight: bolder;
        font-size: 18px;
        font-weight: 700;
        padding-bottom: 10px;
    }

    .time {
        font-weight: 400;
        font-size: 14px;
    }
}

.answers-and-line {
    display: flex;
    align-items: center;
    padding: 20px;
    color: rgba(51, 38, 235, 0.2);
    cursor: pointer;
    font-weight: 800;
    font-size: 18px;

    .line-two {
        flex: 1;
        border-bottom: 2px solid rgba(51, 38, 235, 0.2);
        margin: 0 10px;
    }
}

img {
    height: 65px;
    width: 65px;
    border-radius: 50px;
}

.complete-container {
    display: flex;
    padding: 20px;
    position: relative;

    &:hover {
        background-color: rgba(236, 238, 254, 1);

        .massage {
            background-color: white;
        }

        .hover-container {
            display: flex;
            position: absolute;
            top: 0px;
        }
    }
}

.my-message {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    padding: 20px;
    position: relative;
    height: auto;
    width: auto;
    overflow-x: clip;

    &:hover {
        cursor: pointer;
        background-color: rgba(236, 238, 254, 1);

        .hover-container {
            display: flex;
        }
    }

    .messages {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        .massage {
            padding: 10px;
            background-color: rgb(121, 126, 243);
            border-top-left-radius: 50px;
            border-top-right-radius: 0px;
            border-bottom-left-radius: 50px;
            border-bottom-right-radius: 50px;
            transition: background-color 0.3s ease;
            font-size: 18px;
            color: white;

        }
    }
}

.hover-container {
    position: absolute;
    display: flex;
    top: -20px;
    left: 0px;
    background-color: white;
    height: 50px;
    width: fit-content;
    border: 1px solid rgb(173, 176, 217);
    align-items: center;
    justify-content: center;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    gap: 10px;
    padding: 20px;
    display: none;

    img {
        height: 30px;
        width: 50px;

        &:hover {
            background-color: rgba(236, 238, 254, 1);
            height: 30px;
            width: 50px;

            .img-hover {
                height: 50px;
                width: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
            }
        }

    }
}

.img-hover {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.smileys {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    position: relative;

    .hover-smileys {
        position: relative;
        /* Macht das Hover-Element relativ zu diesem Container */
        margin: 10px;
        /* Fügt Abstand zwischen Smileys hinzu */
    }

    .smiley {
        background-color: white;
        padding: 10px;
        width: min-content;
        border-radius: 50px;
        border: 1px solid rgb(173, 176, 217);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        height: 34px;
        cursor: pointer;

        img {
            height: 24px;
        }

        span {
            font-size: 16px;
        }

        &:hover+.hover-smiley {
            display: flex;
            /* Zeigt das Hover-Element beim Hover an */
        }
    }

    .hover-smiley {
        display: none;
        background-color: blue;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 30px;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        position: absolute;
        bottom: 32px;
        left: 27px;
        color: white;
        text-align: center;
        z-index: 10;
        width: 125px;
        /* Stellt sicher, dass das Hover-Element über anderen Elementen liegt */
    }
}

.saveEdit {
    background-color: rgba(68, 77, 242, 1);
    color: white;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    width: 135px;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: rgba(173, 176, 217, 1);
    }
}

.cancelEdit {
    background-color: white;
    color: rgba(68, 77, 242, 1);
    border-radius: 50px;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    width: 135px;
    border: 1px solid rgba(68, 77, 242, 1);
    cursor: pointer;

    &:hover {
        background-color: rgba(68, 77, 242, 1);
        color: white;
    }
}

.input-completely {
    background-color: white;
    width: auto;
    padding: 10px;
    border: 1px solid rgba(173, 176, 217, 1);
    border-radius: 20px;

    input {
        border: none;
        outline: none;
        font-size: 18px;
    }

    .buttons {
        display: flex;
        gap: 8px;
    }

}