<!-- group-answer.component.html -->
<div class="main" *ngIf="(userService.threadOpenStatus$ | async)"
  [ngClass]="{'collapsed': !userService.showGroupAnswer}">
  <div class="header">
    <h1>Thread</h1>
    <span># {{ groupName }}</span>
    <img (click)="closeAnswer()" [src]="imgClose" (mouseover)="imgClose = 'assets/img/close_hover.svg'"
      (mouseleave)="imgClose = 'assets/img/close_default.svg'" alt="">
  </div>
  <div class="line"></div>
  <div class="commplet-chat" #scrollerContainer>
    <div [ngClass]="{'my-message': userName === loggedInUserName, 'complete-container': userName !== loggedInUserName}">
      <img src="assets/img/avatar-1.png" alt="">
      <div class="messages">
        <div class="name-and-time">
          <div class="name">{{ userName }}</div>
          <div class="time">{{ time }} Uhr</div>
        </div>
        <div class="massage">{{ messageText }}</div>
      </div>
    </div>
    <div class="answers-and-line">
      <ng-container *ngIf="answerChats.length === 0">Antworten</ng-container>
      <ng-container *ngIf="answerChats.length === 1">1 Antwort</ng-container>
      <ng-container *ngIf="answerChats.length > 1"> {{ answerChats.length }} Antworten </ng-container>
      <div class="line-two"></div>
    </div>
    <div *ngFor="let chat of answerChats; let chatIndex = index">
      <div
        [ngClass]="{'my-message': chat.userName === loggedInUserName, 'complete-container': chat.userName !== loggedInUserName}">
        <img src="assets/img/avatar-1.png" alt="">
        <div class="messages">
          <div class="name-and-time">
            <div class="name">{{ chat.userName || 'Unbekannter Benutzer' }}</div>
            <div class="time">{{ chat.time }} Uhr</div>
          </div>

          <div *ngIf="editModeIndex === chatIndex; else viewMode">
            <!-- Bearbeitungsmodus -->
             <div class="input-completely">
              <input [(ngModel)]="editedText" type="text" class="edit-input" placeholder="Text bearbeiten...">
              <div class="buttons">
                <button class="cancelEdit" (click)="cancelEdit()">Abbrechen</button>
                <button class="saveEdit" (click)="saveEdit(chatIndex)">Speichern</button>
              </div>
            
             </div>
          

          </div>

          <!-- Normaler Textmodus -->
          <ng-template #viewMode>
            <div class="massage">{{ chat.text }}</div>
          </ng-template>
          <div>
            <div class="smileys">
              <div *ngFor="let smiley of chat.smileys" class="hover-smileys">
                <div class="smiley" (click)="toggleSmiley(chatIndex, smiley)"> <!-- Hier wird die Methode aufgerufen -->
                  <div *ngIf="smiley.smiley">{{ smiley.smiley }}</div>
                  <span *ngIf="smiley.clickedBy">{{ countReactions(smiley.clickedBy) }}</span>
                </div>
                <div class="hover-smiley">
                  <div *ngIf="smiley.smiley">{{ smiley.smiley }}</div>
                  <span>{{ generateReactionText(smiley) }}</span>

                </div>
              </div>

            </div>
          </div>

        </div>
        <div class="hover-container">
          <div class="img-hover">
            <img (mouseover)="changeImageSmiley(true)" (mouseout)="changeImageSmiley(false)" [src]="imgSrc[0]" alt=""
              (click)="openSmiley(chatIndex)"> <!-- Hier chatIndex übergeben -->
          </div>
          <div class="img-hover" *ngIf="chat.userName === loggedInUserName">
            <img (click)="enableEditMode(chatIndex)" (mouseover)="changeImageMoreVert(true)"
              (mouseout)="changeImageMoreVert(false)" [src]="imgSrc[3]" alt="Edit">
          </div>

          <emoji-mart *ngIf="emojiPickerVisible && activeChatIndex === chatIndex"
            (emojiSelect)="addEmoji($event, chatIndex)" title="Pick your emoji" [style.position]="'absolute'"
            [style.zIndex]="1000" [style.top.px]="30" [style.left.px]="0">
          </emoji-mart>

        </div>

      </div>
    </div>



  </div>
  <app-chat [groupId]="groupId" [answerId]="answerId"></app-chat>
</div>