@font-face {
    font-family: 'nunito';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(assets/fonts/static/Nunito-Regular.ttf) format('woff2');
  }

@font-face {
    font-family: 'nunito';
    font-style: normal;
    font-display: swap;
    font-weight: 700;
    src: url(assets/fonts/static/Nunito-Bold.ttf) format('woff2');
  }