/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

*{ 
    font-family: nunito, Arial, Helvetica, sans-serif;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    background-color: #ECEEFE;
}

a{
    text-decoration: none;       
}
