/* You can add global styles to this file, and also import other style files */
@import '@ctrl/ngx-emoji-mart/picker';
@import url(./fonts.scss);
@import url(./mixins.scss);

html, body { height: 100%; }

/* Styling für den Emoji-Picker-Div */
.emoji-picker {
    position: absolute; /* Damit du die Position anpassen kannst */
    bottom: 60px; /* Beispiel, um es über der Textarea zu platzieren */
    left: 20px; /* Platzierung nach Bedarf */
    border: 1px solid #ccc; /* Rahmen hinzufügen */
    border-radius: 10px; /* Abgerundete Ecken */
    background-color: #fff; /* Hintergrundfarbe */
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2); /* Schatteneffekt */
    z-index: 1000; /* Damit es über anderen Elementen angezeigt wird */
  }
  
  /* Anpassung der Emoji-Größe */
  .emoji-picker .emoji-mart-emoji {
    width: 30px; /* Breite der Emojis */
    height: 30px; /* Höhe der Emojis */
  }
  
  /* Hover-Effekte für Emojis */
  .emoji-picker .emoji-mart-emoji:hover {
    transform: scale(1.1); /* Vergrößern beim Hover */
    transition: transform 0.2s; /* Übergangseffekt */
  }
  


*{ 
    font-family: nunito, Arial, Helvetica, sans-serif;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    // background-color: #ECEEFE;
}

a{
    text-decoration: none;       
}


html, body { height: 100%; background-color: #ECEEFE;  }

@mixin d-flex($dir: row, $jc: center, $ai: center) {
    display: flex;
    flex-direction: $dir;
    justify-content: $jc;
    align-items: $ai;
  }

  app-group-chat{
    flex: 1;
  }

  app-search-bar{
    width: 100%;
}

app-new-message{
    flex: 1;
    margin-right: 60px;
    @media(width < 992px){
      margin-right: 0;
    }

}

app-solo-chat{
    flex: 1;
    margin-right: 60px;
    @media(width < 992px){
      margin-right: 0;
    }
}

.line-date {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20px 0;

    .line-two {
        flex: 1;
        border-bottom: 2px solid rgb(51, 38, 235, 0.2);
        margin: 0 10px;
    }

    .date {
        border-radius: 30px;
        border: 1px solid rgb(51, 38, 235, 0.2);
        padding: 8px;
        text-align: center;
    }
}







