/* You can add global styles to this file, and also import other style files */

@import url(./fonts.scss);
@import url(./mixins.scss);

html, body { height: 100%; }

*{ 
    font-family: nunito, Arial, Helvetica, sans-serif;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    // background-color: #ECEEFE;
}

a{
    text-decoration: none;       
}


html, body { height: 100%; background-color: #ECEEFE;  }

@mixin d-flex($dir: row, $jc: center, $ai: center) {
    display: flex;
    flex-direction: $dir;
    justify-content: $jc;
    align-items: $ai;
  }

  app-group-chat{
    width: 100%;
}

app-new-message{
    width: 100%;
    margin-right: 60px;

}

app-solo-chat{
    width: 100%;
    margin-right: 60px;
}

.line-date {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 20px 0;

    .line-two {
        flex: 1;
        border-bottom: 2px solid rgb(51, 38, 235, 0.2);
        margin: 0 10px;
    }

    .date {
        border-radius: 30px;
        border: 1px solid rgb(51, 38, 235, 0.2);
        padding: 8px;
        text-align: center;
    }
}







